<% wrap_layout :layout do %>

    <div class="row-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li class="active">
                            <%= current_page.data.title %>
                        </li>
                    </ul>  
                </div>
            </div>
        </div>    
    </div>
    
    <div class="row-default">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center section-title">
                        <%= current_page.data.fullTitle || current_page.data.title%>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" <%if current_page.data.title == "FAQ" %> class="active" <% end %> >
                        <a href="/faq.html">F.A.Q</a>
                    </li>
                    <li role="presentation" <%if current_page.data.title == "Installation Instructions" %> class="active" <% end %>>
                        <a href="#">Installation Instructions</a>
                    </li>                
                    <li role="presentation" <%if current_page.data.title == "Warranty" %> class="active" <% end %>>
                        <a href="#">Warranty</a>
                    </li>
                    <li role="presentation" <%if current_page.data.title == "Measurement Guides" %> class="active" <% end %>>
                        <a href="#">Measurement Guides</a>
                    </li>
                    <li role="presentation" <%if current_page.data.title == "Child Safety" %> class="active" <% end %>>
                        <a href="/child-safety.html">Child Safety</a>
                    </li>
                    <li role="presentation" <%if current_page.data.title == "News" %> class="active" <% end %>>
                        <a href="#">News</a>
                    </li>
                </ul>
            </div>
        </div>
        <%= yield%>
    </div>

    

<% end %>