<% wrap_layout :layout do %>

    <div class="row-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li class="active">
                            <%= current_page.data.title %>
                        </li>
                    </ul>  
                </div>
            </div>
        </div>    
    </div>
    
    <div class="row-default">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <ul class="tab-list stay">
                        <li role="presentation" <%if current_page.data.title == "F.A.Q" %> class="active" <% end %> >
                            <a href="/faq">
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> F.A.Q                                
                            </a>
                        </li>
                        <li role="presentation" <%if current_page.data.title == "Measurement Guides" %> class="active" <% end %>>
                            <a href="/measurement-guides">                                
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                Measurement Guides
                            </a>
                        </li>
                        <li role="presentation" <%if current_page.data.title == "Installation Instructions" %> class="active" <% end %>>
                            <a href="/installation-instructions">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Installation Instructions
                            </a>
                        </li>                
                        <li role="presentation" <%if current_page.data.title == "Warranty" %> class="active" <% end %>>
                            <a href="/warranty">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>                                
                                Warranty
                            </a>
                        </li>                        
                        <li role="presentation" <%if current_page.data.title == "Child Safety" %> class="active" <% end %>>
                            <a href="/child-safety">                                
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                Child Safety
                            </a>
                        </li>                        
                    </ul>
                </div>
                <div class="col-md-9 col-xs-12">
                    <h1 class="section-title text-center">
                        <%= current_page.data.fullTitle || current_page.data.title%>
                        <hr>
                        <small class="description">
                        <%= current_page.data.smallDesc %>                        
                        </small>
                    </h1>
                    <%= yield%>
                </div>
            </div>
        </div>
    </div>        
    
<% end %>