---
id: aluminum
title: Stores en Aluminium
image: /images/products/aluminum/1-1920.jpg
description: Conveniently offered in both the 1” and 2” slat, the aluminum collection offers choices to enhance any interior environment
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores en Aluminium
                <hr>
                <small class="description">
                    Choisissez des lattes de 1 po ou 2 po afin de rehausser l'allure de toute pièce dans lesquels vous les placez.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Le caisson ultra-robuste avec cantonnière intégrée ajoute un look contemporain au store
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Les stores horizontaux en aluminium mettent à votre disposition une vaste gamme d’options pour vos fenêtres, avec
                        les fonctions les plus pratiques et les couleurs les plus modernes
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        En option, la fonction de lattes sans trous assombrissantes permet de bloquer la lumière entrante et d'augmenter l'intimité
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
        
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/aluminum/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Available in a wide selection of designer colours.
                    </li>
                    <li>
                        Dust resistant finish - makes cleaning easier.
                    </li>                 
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/aluminum/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Available in a wide selection of designer colours
                    </li>                    
                    <li>
                        Spring-tempered slats - resist kinks and dents, they bounce back
                    </li>                                   
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>