---
title: Blinds and Shades
description: a classic functional window covering, shutters are a great choice to add a touch of elegance to any space
---

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="<%=lang_helper%>">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Blinds and Shades
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Blinds & Shades             
                <hr>
                <small class="description">
                    Convenience and Versatility
                </small>
            </h1>
        </div>
    </div>
</div>

<div class="row-default">
    <div class="container">
        <div class="row">
            <% data.products.products.each do |p| %>
                <% if p.category == "blinds" %>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <%= partial "productcard", :locals => {:product => p} %>
                </div>
                <% end %>          
            <% end %>
        </div>
    </div>
</div>