---
id: Child Safety
title: Child Safety
fullTitle: Child Safety
smallDesc: Child Safety is serious business
layout: resources-layout
category: resource
---
<div class="row-default">    
    <div class="row">        
        <div class="col-md-6 col-xs-12 ">
            <img src="/images/child1.jpg" alt="Child playing" class="img-responsive frame-pic" />
        </div>       
        <div class="col-md-6 col-xs-12">
            <h3>Child and pet safety</h3>
            <p>        
                Shade-O-Matic has an extensive line of window coverings which provide the highest standards in child safety. 
                From cordless blinds to automated systems, cord tensioners and wand controls, we offer a wide selection of lift system solutions 
                for child and pet safety.
            </p>        
        </div> 
        <div class="clearfix"></div>
    </div>    
</div>
<div class="row-default">    
    <div class="row">                
        <div class="col-md-6 col-xs-12 col-md-push-6">
            <img src="/images/child-label-en.jpg" alt="Safety Tags" class="img-responsive frame-pic" />
        </div>
        <div class="col-md-6 col-xs-12 col-md-pull-6">
            <h3>Child safety is serious business</h3>
            <p>            
                That’s why the window coverings industry uses warning tags, warning labels and other ways to communicate the potential hazards of 
                corded window coverings. The warning shown here for example, outlines important communication about cords being a potential strangulation 
                hazard and recommends selecting cordless options or products with inaccessible cords.
            </p>
        </div>        
        <div class="clearfix"></div>
    </div>        
</div>


<div class="row-default">    
    <div class="row">
        <div class="col-xs-12">
            <h1 class="section-title text-center">
                Cordless alternatives 
                <hr>
                <small class="description">
                    Cordless alternatives and window coverings with inaccessible cords 
                    <br>
                    are available in the following product lines
                </small>            
            </h3>        
        </div>
        <% data.products.products.each do |p| %>
            <% if p.cordless == "true" %>
            <div class="col-md-12 col-xs-12">
                <%= partial "productcard", :locals => {:product => p} %>                                    
            </div>
            <% end %>          
        <% end %>
    </div>
</div>