---
title: Qui nous sommes
category: general
---

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            <%= t(:home) %>
                        </a>
                    </li>
                    <li class="active">
                        Qui nous sommes                                        
                    </li>
                </ul>  
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="section-title text-center">
                Shade-O-Matic
                <hr>
                <small class="description">
                    Shade-O-Matic est le chef de file canadien dans le secteur des recouvrements de fenêtres de qualité supérieure.
                    <br>
                    Tous nos stores et nos persiennes sont fabriqués sur mesure afin de s’assurer qu'ils conviennent parfaitement à chacune de vos fenêtres.
                </small>
            </h1>            
        </div>
    </div>
</div>

<div class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">                
                <p>                                
                    Fondée en 1982 comme petite entreprise régionale, Shade-O-Matic s’est rapidement taillé une place à titre de chef de file canadien en matière de fabrication et de distribution de produits de recouvrement de fenêtres. Ses bureaux se trouvent dans la région du Grand Toronto.  Depuis 1996, Shade-O-Matic fait partie de Hunter Douglas Group, un leader mondial dans l’industrie des recouvrements de fenêtres, dont le siège social est situé en Hollande.
                </p>
                <p>
                    L'innovation est la pierre angulaire de notre succès et de notre croissance. Shade-O-Matic possède de nombreux brevets pour des produits de décor uniques en leur genre, comme les persiennes PolysatinMD avec mécanisme TropicsMD.  Afin d'offrir à nos clients ce qui se fait de mieux en accessoires de décor de fenêtres, nous continuons sans cesse d’investir dans la recherche et l’amélioration de nos produits.                    
                </p>
                <p>
                    Parmi les visions qui forment notre mission se trouve une attention particulière aux normes de qualité les plus rigoureuses, dans toutes les étapes de conception. Pourquoi une telle attention aux détails? Pour que nos clients soient parfaitement satisfaits de chaque produit Shade-O-MaticMD qu’ils achètent. C'est cette raison d'être qui nous pousse à respecter – et même dépasser – les exigences de sécurité de Santé Canada, tout en créant des appareils qui offrent une efficacité énergétique et une facilité d'utilisation hors pair.                    
                </p>
            </div>
            <div class="col-lg-6">
                <img src="/images/about-us.jpg" alt="Shade-O-Matic image" class="img-responsive frame-pic" />
            </div>
        </div>
    </div>
</div>
<div class="row-default row-contrast">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">
                    Chez Shade-O-MaticMD, la satisfaction de nos clients est notre priorité – de la sélection, 
                    <br>
                    en passant par la qualité, jusqu'au service après-vente.                     
                </p>

                <p class="text-center">
                    De plus, afin de vous offrir une tranquillité d’esprit incomparable, chacun de nos 
                    <br>
                    produits Shade-O-Matic est couvert par notre garantie à vie limitée.
                </p>
            </div>
        </div>
    </div>
</div>

 