---
id: concept
title: Stores Doubles Concept <sup>MD</sup>
image: /images/products/concept/1-1920.jpg
description: is a soft shade that combines the light control capacities of a horizontal blind with the soft beauty of a fabric shade.
category: product
mediatype: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Stores Doubles Concept <sup>MD</sup>
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Stores Doubles Concept <sup>MD</sup>
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores Doubles Concept
                <hr>
                <small class="description">
                    Un type de store doux qui combine les fonctionnalités de contrôle de la 
                    <br>
                    lumière des stores horizontaux et toute la beauté des stores en tissu
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Un type de store doux qui combine les fonctionnalités de contrôle de la lumière des stores horizontaux et toute la beauté des stores en tissu
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Colours" />
                        Leur design unique propose une alternance de bandes de tissu diaphane ou filet et de tissu translucide ou assombrissant sur un même store
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Les bandes de tissus peuvent être alignées ou décalées afin d’offrir un contrôle optimal de la lumière, l’intimité et la protection contre les rayons UV
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/concept/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Un type de store doux qui combine les fonctionnalités de contrôle de la lumière des stores horizontaux et toute la beauté des stores en tissu.
                    </li>
                    <li>
                        Leur design unique propose une alternance de bandes de tissu diaphane ou filet et de tissu translucide ou assombrissant sur un même store.
                    </li>
                    <li>
                        Les bandes de tissus peuvent être alignées ou décalées afin d’offrir un contrôle optimal de la lumière, l’intimité et la protection contre les rayons UV.
                    </li> 
                    <li>
                        Choisissez parmi une vaste sélection de styles décoratifs et une palette de couleurs variée qui s’intégreront parfaitement dans tous les décors.
                    </li>                   
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/concept/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">                    
                    <li>
                        A matching fabric insert in the headrail is standard and provides a finished look.
                    </li>
                    <li>
                        Innovative bottomrail allows the fabric to slide through for precise positioning.
                    </li>
                    <li>
                        Continuous cord loop is standard. Motorized option also available.
                    </li>
                    <li>
                        Limited Lifetime Warranty ensures your customers’ satisfaction.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>