---
title: Communiquer avec nous
fullTitle: Communiquer avec nous
type: contact
category: general
---

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            <%= t(:home) %>
                        </a>
                    </li>
                    <li class="active">
                    Communiquer avec nous
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Communiquer avec nous
                <hr>
                <small class="description">
                    Prenez contact avec nous
                </small>
            </h1>
        </div>
    </div>
</div>

<div class="row-default">
    <div class="container">        
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="name">
                        Nom
                    </label>
                    <input type="text" id="name" name="name" class="form-control input-lg" placeholder="Nom" required="required"/>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="company">
                        Enterprise
                    </label>
                    <input type="text" id="company" name="company" class="form-control input-lg" placeholder="Enterprise"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="phone">
                        Téléphone
                    </label>
                    <input type="text" id="phone" name="phone" class="form-control input-lg" placeholder="Téléphone"/>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="email">
                        E-mail
                    </label>
                    <input type="text" id="email" name="email" class="form-control input-lg" placeholder="E-mail" required="required"/>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="message">
                        Message
                    </label>
                    <textarea name="message" id="message" class="form-control input-lg" placeholder="Message" required="required"></textarea>
                </div>
                <div class="form-group">
                    <div class="g-recaptcha pull-right" data-sitekey="6Lcz-iwUAAAAAEgKSCH2t8w_HRGZy1yuNMOuLatT"></div>                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <input id="submit-form" type="submit" class="btn btn-primary btn-lg pull-right" value="Envoyer" />
                    <div class="clearfix"></div>
                </div>
            </div>            
        </div>                
    </div>
</div>
<div class="row-default row-primary">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
            <div class="col-md-6 col-sm-12">                
                <h3 class="fabric-title">
                    Shade-O-Matic
                </h3>
                <address>                    
                    <p>      
                        <a href="https://www.google.ca/maps/place/Shade-O-Matic+LP/@43.67816,-79.7159187,17z/data=!3m1!4b1!4m5!3m4!1s0x882b30304d92a3b3:0xc3e1cedba173aafa!8m2!3d43.67816!4d-79.71373">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            132 First Gulf Blvd, Brampton, ON L6W 4T7
                        </a>
                    </p>  
                    
                    <table class="hours">
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <span class="glyphicon glyphicon-time"></span>
                                    HOURS
                                </th>
                            <tr>

                            <tr>
                                <th>Monday</th>
                                <td>8:30am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Tuesday</th>
                                <td>8:30am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Wednesday</th>
                                <td>8:30am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Thursday</th>
                                <td>8:30am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Friday</th>
                                <td>8:30am – 6pm</td>
                            </tr>                            
                        </tbody>
                    </table>
                </address>                
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="fabric-title">
                    COMMUNIQUER AVEC NOUS
                </h3>
                <p>                    
                    <a href="mailto:info@shadeomatic.ca">info@shadeomatic.ca</a>
                </p>
                <p>
                    <strong>P </strong>                    
                    <a href="tel:1-800-387-2879">1-800-387-2879</a>
                </p>                
                <p>                        
                    <strong>F </strong> 
                    <a href="tel:1-866-937-1872">1-866-937-1872</a> 
                </p>
            </div>
            </div>
        </div>
    </div>
</div>