---
title: Customer Support
fullTitle: Customer Support
type: contact
category: general
---

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Contact
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Contact Us                
                <hr>
                <small class="description">
                    Get in touch with us
                </small>
            </h1>
        </div>
    </div>
</div>

<form id="app" class="row-default">
    <div class="container">        
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger" v-if="error.active">                    
                    {{error.message}}
                </div>                
            </div>

            <div class="col-xs-12" v-if="success.active">
                <div class="alert alert-success">                    
                    {{success.message}}
                </div>                
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="name">
                        Your name
                    </label>
                    <input 
                        type="text" 
                        id="name" 
                        name="name" 
                        class="form-control input-lg"                         
                        required="required"
                        v-model="name"
                        />
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="company">
                        Company
                    </label>
                    <input 
                        type="text" 
                        id="company" 
                        name="company" 
                        class="form-control input-lg"                         
                        v-model="company"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="phone">
                        Phone
                    </label>
                    <input 
                        type="text" 
                        id="phone" 
                        name="phone" 
                        class="form-control input-lg"                         
                        v-model="phone"/>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="email">
                        Email Address
                    </label>
                    <input 
                        type="email" 
                        id="email" 
                        name="email" 
                        class="form-control input-lg"                         
                        required="required"
                        v-model="email"/>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col-xs-12">
                <div class="form-group">
                    <label data-required="true" for="message">
                        Message
                    </label>
                    <textarea 
                        name="message" 
                        id="message" 
                        class="form-control input-lg"                         
                        required="required"
                        v-model="message">
                    </textarea>
                </div>
                <div class="form-group">
                    <div id="recaptcha" class="g-recaptcha pull-right" data-sitekey="6Lcz-iwUAAAAAEgKSCH2t8w_HRGZy1yuNMOuLatT"></div>                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <a 
                        href="#send" 
                        class="btn btn-primary btn-lg pull-right"
                        v-bind:class="{'disabled': loading}"
                        v-on:click="send">
                        Send
                    </a>
                    <img src="/images/ajax-loader.gif" 
                        alt="Loading" 
                        width="48px" height="48px" 
                        class="pull-right" 
                        v-show="loading" />
                    <div class="clearfix"></div>
                </div>
            </div>            
        </div>                
    </div>
</form>
<div class="row-default row-primary">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
            <div class="col-md-6 col-sm-12">                
                <h3 class="fabric-title">
                    OUR OFFICE
                </h3>
                <address>                    
                    <p>      
                        <a href="https://www.google.ca/maps/place/Shade-O-Matic+LP/@43.67816,-79.7159187,17z/data=!3m1!4b1!4m5!3m4!1s0x882b30304d92a3b3:0xc3e1cedba173aafa!8m2!3d43.67816!4d-79.71373">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            132 First Gulf Blvd, Brampton, ON L6W 4T7
                        </a>
                    </p>  
                    
                    <table class="hours">
                        <tbody>
                            <tr>
                                <th colspan="2">
                                    <span class="glyphicon glyphicon-time"></span>
                                    HOURS
                                </th>
                            <tr>

                            <tr>
                                <th>Monday</th>
                                <td>8am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Tuesday</th>
                                <td>8am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Wednesday</th>
                                <td>8am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Thursday</th>
                                <td>8am – 6pm</td>
                            </tr>
                            <tr>
                                <th>Friday</th>
                                <td>8am – 6pm</td>
                            </tr>                            
                        </tbody>
                    </table>
                </address>                
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="fabric-title">
                    CONTACT
                </h3>
                <p>                    
                    <a href="mailto:info@shadeomatic.ca">info@shadeomatic.ca</a>
                </p>
                <p>
                    <strong>P </strong>                    
                    <a href="tel:1-800-387-2879">1-800-387-2879</a>
                </p>                
                <p>                        
                    <strong>F </strong> 
                    <a href="tel:1-866-937-1872">1-866-937-1872</a> 
                </p>
            </div>
            </div>
        </div>
    </div>
</div>