---
id: F.A.Q
title: Foire aux questions
fullTitle: F.A.Q
smallDesc: Foire aux questions
layout: resources-layout
category: resource
---

<ul class="faq-list">
    <li>  
        <span class="question">  Comment dois-je m'y prendre pour trouver le produit Shade-O-Matic qui me conviendra le mieux? </span>                    
        Il y a trois facteurs à considérer lorsque vous choisissez un couvre-fenêtre sur mesure : fonction, style et budget. Chez Shade-O-Matic, nous offrons un grand nombre de produits qui couvrent parfaitement tous ces facteurs. Les clients mentionnent souvent les fonctions suivantes comme raisons principales pour se procurer des couvre-fenêtres : intimité, sécurité, gestion de la lumière, protection contre les rayons UV et efficacité énergétique. Pour trouver quels produits conviendront le mieux à vos besoins, nous vous conseillons de discuter avec un détaillant Shade-O-Matic autorisé. Celui-ci vous aidera à trouver l'équilibre idéal entre fonction, style et budget.
    </li>
    <li>
        <span class="question"> Utilisez-vous du plomb dans la fabrication des stores Shade-O-Matic? </span>                    
        Les produits Shade-O-Matic ne contiennent aucun plomb. En fait, notre gamme complète de produits n'a jamais compris d'additifs de plomb.
    </li>
    <li>
        <span class="question"> Quelles sont les différences entre les stores sur mesure et les stores préfabriqués? </span>                    
        Les stores sur mesure sont fabriqués en fonction de vos spécifications afin de couvrir vos fenêtres avec précision. Ils sont dotés des composants de la plus haute qualité et sont offerts dans une vaste gamme de couleurs et de matériaux. Les stores préfabriqués sont parfaits pour les clients qui surveillent leur budget. Ils sont offerts dans une gamme de tailles standard, dans un nombre limité de couleurs et d’options.
    </li>
    <li>
        <span class="question"> Offrez-vous des produits qui résistent au feu?  </span>                    
        Notre catalogue comprend une variété de stores verticaux, de stores à enrouleur, de stores romains et de stores à panneaux coulissants qui sont traités pour résister au feu. Nos persiennes Polysatin sont aussi traitées pour résister au feu.
    </li>
    <li>
        <span class="question"> J'ai entendu dans les nouvelles que les cordons des stores peuvent être dangereux pour les enfants. Comment puis-je protéger mes enfants? </span>
        À titre de chef de file de l'industrie au pays, Shade-O-Matic s'assure que tous ses stores sont dotés des caractéristiques de sécurité les plus modernes. Tous nos modèles comprennent des ornements décrochables, un mécanisme de blocage des cordons et une variété de crochets visant à protéger les enfants et à réduire les risques d'étranglement. Pour plus d'information à ce sujet, adressez-vous à votre détaillant.
    </li>
    <li>
        <span class="question"> Comment dois-je m'y prendre pour faire réparer un store Shade-O-Matic? </span>                    
        La première étape consiste à communiquer avec le détaillant Shade-O-Matic autorisé chez qui vous avez acheté votre store afin de déterminer si la réparation est couverte par notre garantie limitée à vie, la meilleure de l'industrie. Lorsque cela a été déterminé, le détaillant reçoit un numéro de retour, qui permet de faire le suivi de votre réparation auprès de Shade-O-Matic. Le détaillant et Shade-O-Matic ne couvrent pas les coûts de la livraison et de l'installation.
    </li>
    <li>
        <span class="question"> Un de mes amis m'a parlé d'un store qui permet de voir à l'extérieur, mais qui est opaque pour les gens qui se trouvent à l'extérieur. De quoi s'agit-il? </span>
        De nombreux produits diaphanes sont dotés d'une caractéristique réfléchissante bien particulière. Lorsque les rayons de la lumière frappent le store, celui-ci crée une illusion d'opacité, comme les fenêtres teintées des voitures. Et lorsque la source de lumière provient de l'intérieur (vous allumez les lumières de votre maison le soir, par exemple), l'effet inverse est créé. Les gens qui se trouvent à l'extérieur peuvent vous voir, mais vous ne pouvez pas voir à l'extérieur, étant donné que la lumière est réfléchie vers vous.
    </li>
    <li>
        <span class="question"> Comment dois-je m'y prendre pour nettoyer mes produits Shade-O-Matic? </span>                    
        Il existe plusieurs méthodes pour nettoyer les différentes catégories de produits Shade-O-Matic. Lorsque vous recevez votre store sur mesure de Shade-O-Matic, l'emballage comprendra des instructions d'entretien et de nettoyage qui vous permettront de profiter au maximum de votre produit pendant de longues années.
    </li>
</ul>            
        
