---
id: fauxwood
title: Stores en Similibois
image: /images/products/fauxwood/1-1920.jpg
description: les stores en similibois offrent l'allure et le style du bois véritable, mais à un prix bien plus abordable
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores en Similibois
                <hr>
                <small class="description">
                    Les stores en similibois offrent l'allure et le style du bois véritable, mais à un prix bien plus abordable
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Une gamme de rubans de couleur unie et décoratifs ajoute une touche de style pour complémenter votre décor
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Colours" />
                        Les lattes de 2 po sont une excellente option pour toutes les tailles de fenêtres. Les lattes de 2 1/2 po procurent un angle de visionnement optimal
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        En option, le système de relèvement sans cordon et le mécanisme Lift & Lock sans cordon offrent un fonctionnement sans effort
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/fauxwood/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Les lattes de 2 po sont une excellente option pour toutes les tailles de fenêtres. Les lattes de 2 1/2 po procurent un angle de visionnement optimal.
                    </li>
                    <li>
                        L’élégante cantonnière décorative à profil élevé, comprise de série, offre une superbe allure dans toutes les pièces. La cantonnière Crescent offerte en option procure un style contemporain, élégant et sophistiqué.
                    </li>
                    <li>
                        Une gamme de rubans de couleur unie et décoratifs ajoute une touche de style pour complémenter votre décor.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/fauxwood/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Le système RemoteTilt (inclinaison motorisée) élimine les cordons et permet d'incliner les lattes simplement en appuyant sur un bouton de la télécommande
                    </li>                    
                    <li>
                        Vous pouvez demander que vos stores soient fabriqués sans trous : cela permet de bloquer davantage de lumière, d’assombrir la pièce et de vous procurer plus d'intimité lorsque les lattes sont fermées.
                    </li>
                    <li>
                        En option, le système de relèvement sans cordon et le mécanisme Lift & Lock sans cordon offrent un fonctionnement sans effort. Comme le store ne comprend aucun cordon, cela le rend plus sécuritaire dans les résidences avec des enfants et des animaux.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>