---
id: grandeur
title: Persiennes Grandeur® Woodalloy
image: /images/products/grandeur/1-1920.jpg
description: sont de conception perfectionnée. Grâce à des matériaux de pointe, elles offrent l’apparence du vrai bois, et donnent une couleur uniforme et constante. Les persiennes GrandeurMD Woodalloy conviennent aux exigences de la vie quotidienne. Elles résistent aux égratignures et offrent un excellent rendement avec une durabilité et une résistance supérieures.
category: product
mediatype: product
producttype: shutter
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Persiennes Grandeur® Woodalloy
                <hr>
                <small class="description">
                    Persiennes Grandeur® Woodalloy sont de conception perfectionnée. Grâce à des matériaux de pointe, elles offrent l’apparence du vrai bois, 
                    et donnent une couleur uniforme et constante. Les persiennes GrandeurMD Woodalloy conviennent aux exigences de la vie quotidienne. Elles 
                    résistent aux égratignures et offrent un excellent rendement avec une durabilité et une résistance supérieures.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Fabriqué comme un fin meuble
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Grand choix de couleurs
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Rendement énergétique et Écoénergétiques
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>

        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Résistent aux égratignures
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Colours" />
                        Conception perfectionnée
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-child.svg" src="/images/icon-child.png" alt="Specialty Blinds" />
                        Sécurité des enfants
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/grandeur/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Conception perfectionnée - Matériaux de pointe donnant l’apparence du vrai bois.
                    </li>
                    <li>
                        Résistent aux égratignures - Excellente performance avec une durabilité et une résistance supérieures. Faites de fibres de bois fabriquées avec un processus spécial utilisant des résines thermodurcissables qui sont ensuite fermées avec un revêtement en polymère.
                    </li>
                    <li>
                        Fini NuTech® - Fini perfectionné doux au toucher et donnant une belle apparence. Il protège les persiennes des dégâts courants, ce qui fait simplifie grandement le nettoyage.
                    </li>                    
                    <li>
                        Option de baguette d’inclinaison divisée - Baguette d’inclinaison pouvant être divisée sur un seul panneau pour permettre aux lattes d’être inclinées séparément sans utiliser de traverse centrale. Cette configuration convient particulièrement pour les salles de bains où le client veut plus d’intimité, et permet en même temps à la lumière naturelle d’entrer en haut des persiennes.
                    </li>                    
                    <li>
                        Goujons en bois - Goujons en bois servant à créer des joints solides.
                    </li>                  
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/grandeur/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Fermeture dans les deux sens - L’absence de trous permet aux lattes de se fermer bien serrées dans les deux directions et avoir plus d’intimité.
                    </li>                    
                    <li>
                        Grand choix de couleurs - Trois choix de tons doux pour s’agencer à n’importe quel décor. Il y a aussi quatre superbes tons de bois pour donner de l’élégance à toutes les pièces.
                    </li>
                    <li>
                        Trois tailles de lattes populaires - Lattes elliptiques de 2 1/2 po, 3 1/2 po ou 4 1/2 po avec contour pour maximiser la vue.
                    </li>
                    <li>
                        Diverses couleurs de charnières - Les choix de couleurs de charnières offerts comprennent : blanc, blanc cassé, laiton antique et nickel, venetian bronze pour permettre aux clients de personnaliser les persiennes.
                    </li>
                    <li>
                        Écoénergétiques - GREENGUARD certification et GREENGUARD Gold certification
                    </li>
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/grandeur/B3-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">                    
                    <li>
                        Rendement énergétique - Les persiennes améliorent l’efficacité thermique : Valeur R en hiver : 6,01, Valeur R en été : 0,17 et protection contre les ultraviolets : 99 %
                    </li>
                    <li>
                        Installation de l’encadrement - On utilise une cale Hoffman pour assembler l’encadrement et lui donner une plus grande rigidité et les rendre plus sécuritaires.
                    </li>
                    <li>
                        Sécurité des enfants - Persiennes sans cordon pour que les enfants et les animaux ne risquent pas de se blesser.
                    </li>                    
                    <li>
                        Peu d’entretien et faciles à nettoyer - Un simple nettoyage occasionnel avec un linge doux propre ou un aspirateur permet aux persiennes de garder leur belle apparence.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>