---
id: grandeur
title: Grandeur Woodalloy Shutters
image: /images/products/grandeur/1-1920.jpg
description: offer a leading edge design, giving windows an air of classic elegance. Our advanced engineering technology provides the consistency and warmth of real wood, while helping the shutters maintain their superior strength and their durability.
category: product
mediatype: product
producttype: shutter
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Grandeur Woodalloy Shutters
                <hr>
                <small class="description">
                    Offer a leading edge design, giving windows an air of classic elegance. 
                    Our advanced engineering technology provides the consistency and warmth of real wood, 
                    while helping the shutters maintain their superior strength and their durability.                     
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Crafted like a fine piece of furniture
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Contemporary colour selection
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Energy efficient and are environmentally friendly
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>

        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Scratch resistant
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Colours" />
                        Leading edge design
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-child.svg" src="/images/icon-child.png" alt="Specialty Blinds" />
                        Child Safety
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/grandeur/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Leading Edge Design - Advanced engineering materials offer the look of real wood.
                    </li>
                    <li>
                        Scratch resistant - Offers outstanding performance with superior durability and strength. Made with wood fibres manufactured with a special process using thermosetting resins and then enclosed in a polymer cap.
                    </li>
                    <li>
                        NuTech® Finish - State-of-the-art finish is smooth to the touch. Protects shutters from common spills, making cleanup a breeze.
                    </li>                    
                    <li>
                        Split Tilt-bar Option - Tilt-bar may be split within a single panel to allow the louvers to tilt separately, without a divider rail. Ideal for bedrooms where privacy, is required.
                    </li>                    
                    <li>
                        Wood Dowels - Wood dowels are used to provide sturdy joints.
                    </li>                  
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/grandeur/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Two-way closure - The no mouse hole design allows the louvers to close tightly in both directions, providing greater privacy.
                    </li>                    
                    <li>
                        Contemporary colour selection - There are three beautiful soft tone colours to compliment any décor. Additionally, there are four wood tone colours to add elegance to any room.
                    </li>
                    <li>
                        Three popular louver sizes - Louvers are available in 2 1/2", 3 1/2" and 4 1/2" which are contoured to optimize your view.
                    </li>
                    <li>
                        Variety of hinge colours - Hinge colour selection includes: White, Off-White, Antique Brass, Nickel, and Venetian Bronze, allowing the consumer to customize the shutters.
                    </li>
                    <li>
                        Environmentally friendly  - GREENGUARD Certification and GREENGUARD Gold Certification
                    </li>
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/grandeur/B3-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">                    
                    <li>
                        Energy Efficient - Winter R Value of 6.01, Summer R Value of 0.17 and UV Rating of 99%.
                    </li>
                    <li>
                        Frame installation - A hoffman key is used to assemble the frame for additional strength and security.
                    </li>
                    <li>
                        Child Safety - Designed without cords so children and pets stay safe.
                    </li>                    
                    <li>
                        Low maintenance and easy to clean - Cleaning with a soft clean cloth or light vacuuming keeps the shutters looking great.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>