---
id: honeycomb
title: Stores Alvéolés | Stores Trilight
image: /images/products/honeycomb/1-1920.jpg
description: Les stores alvéolés Moodscapes<sup>MD</sup> sont les recouvrements de fenêtre les plus luxueux du marché d’aujourd'hui. Notre sélection supérieure de tissu ajoute beauté, élégance et sophistication à votre décor.
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores Alvéolés | Stores Trilight
                <hr>
                <small class="description">
                    Les stores alvéolés Moodscapes<sup>MD</sup> sont les recouvrements de fenêtre les plus luxueux du marché d’aujourd'hui. Notre sélection supérieure de tissu ajoute beauté, élégance et sophistication à votre décor.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-sound.svg" src="/images/icon-sound.png" alt="Specialty Blinds" />
                        Capacités supérieures d’absorption du son
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Les choix de couleurs comprennent plus de 200 options
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Formes spécialisées disponibles
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Contribue à isoler votre demeure et à réduire vos factures de chauffage et de climatisation
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Disponible en montant-descendant, cordon continu, relèvement sans cordon, configuration verticale et motorisation
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Un dos blanc sur la plupart des tissus assure une apparence uniforme du point de vue de l'extérieur
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/honeycomb/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Leur conception distinctive à alvéoles contribue à isoler votre demeure et à réduire vos factures de chauffage et de climatisation.
                    </li>
                    <li>
                        Leurs capacités supérieures d’absorption du son contribuent à créer un environnement tranquille et paisible.
                    </li>
                    <li>
                        Le tissu 100 % polyester résiste au froissement et est très facile à nettoyer. La majorité des tissus peuvent être lavés.
                    </li>
                    <li>
                        Les choix de couleurs comprennent plus de 200 options, des teintes neutres jusqu’aux couleurs vives, en passant par les motifs imprimés et tissés exclusifs.
                    </li>
                    <li>
                        De nombreux choix de tailles d’alvéoles, y compris les plis hybrides de 2 po. Un choix idéal pour les fenêtres de toutes les tailles et les portes coulissantes.
                    </li>                
                    <li>
                        L'opacité des tissus varie de diaphane jusqu’à assombrissant, offrant une flexibilité supérieure en matière de contrôle de la lumière. Des tissus ignifuges sont aussi offerts.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/honeycomb/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Un dos blanc sur la plupart des tissus assure une apparence uniforme du point de vue de l'extérieur.
                    </li>                    
                    <li>
                        Choisissez parmi un vaste choix d’options de commande en fonction de vos besoins, y compris montant-descendant, cordon continu, relèvement sans cordon, configuration verticale et motorisation.
                    </li>
                    <li>
                        Les stores avec mécanisme de relèvement sans cordon, avec mécanisme Lift & Lock sans cordon, avec cordon continu; les stores MotionView et les stores Simplicity sont proposés avec un caisson et une traverse inférieure recouverts de tissus, avec un supplément.
                    </li>
                    <li>
                        De série, les stores sont dotés d’un caisson et d’une traverse inférieure de couleur coordonnée.
                    </li>
                    <li>
                        Pour une gestion supérieure de l’intimité et de la lumière, optez pour les stores TriLight.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>