---
id: installation
title: Instructions d'installation
category: resource
layout: resources-layout
smallDesc: Vous trouverez ici les guides de mesure pour vos stores et vos persiennes
---

<div id="app-installation">
    
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control input-lg main-search" id="installation-search" placeholder="Chercher" 
            v-model:value="query"/>
        </div>
    </div>
    <div class="row-default-sm">    
        <div class="row">        
            <div class="col-xs-12">                
                <ul class="installation-instructions">
                    <li v-for="manual in manuals" v-show="manual.visible" v-bind:key="manual.sequence">                        
                        <a v-for="file in manual.files" v-bind:href="file.fileName" target="_blank" v-if="file.visible">
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                            {{file.name}} {{file.language}}                             
                            <span class="file-info"> .pdf ({{file.size}}) </span>
                        </a>                        
                    </li>
                </ul>

                <div role="alert" v-show="noResults">
                    <h2>
                        <i> No installation manuals for "{{query}}" </i>
                    </h2>
                </div>

            </div>
        </div>    
    </div>

</div>