---
id: pleated
title: Stores Plissés Lasting Impressions <sup>MD</sup>
image: /images/products/pleated/1-1920.jpg
description: Les stores plissés Lasting Impressions <sup>MD</sup> représentent une excellente manière de couvrir vos fenêtres, car ils permettent de contrôler la quantité de lumière qui entre dans la pièce et de créer une ambiance intime à volonté.
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores Plissés Lasting Impressions <sup>MD</sup>
                <hr>
                <small class="description">
                    Les stores plissés Lasting Impressions <sup>MD</sup> représentent une excellente manière de couvrir vos fenêtres, car ils permettent de contrôler la quantité de lumière qui entre dans la pièce et de créer une ambiance intime à volonté.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">        
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">                
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Style brise-bise – Ces stores s'abaissent du haut vers le bas et du bas vers le haut
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Un système à cordon continu en option permet de lever et d'abaisser le store à la position désirée
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Une doublure opaque en option aide à bloquer la lumière et procure une meilleure intimité
                    </div>
                </div>

                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/pleated/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Deux tailles de plis sont offertes :
                        <br>
                        Des plis de 1 pouce, pour les fenêtres de petite taille ou de taille moyenne
                        <br>
                        Des plis de 1 7/8 pouces, pour les fenêtres de taille moyenne ou de grande tailles
                    </li>
                    <li>
                        Une doublure opaque en option aide à bloquer la lumière et procure une meilleure intimité.
                    </li>
                    <li>
                        Un système à cordon continu en option permet de lever et d'abaisser le store à la position désirée.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/pleated/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Style brise-bise – Ces stores s'abaissent du haut vers le bas et du bas vers le haut.
                    </li>                    
                    <li>
                        Deux stores sur un même caisson – Pour les fenêtres de grande taille, cette configuration procure l'apparence d'un store unique, avec deux sections qui fonctionnent indépendamment.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>
