---
id: polysatin
title: Persiennes Polysatin - Tropics et Seaview
image: /images/products/polysatin/1-1920.jpg
description: L'élégance classique des persiennes Polysatin <sup>MC</sup> de Shade-O-Matic peut transformer une simple fenêtre en un magnifique point d'intérêt dans toutes les pièces où vous les placez. 
category: product
mediatype: product
producttype: shutter
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Persiennes Polysatin <sup>MC</sup> : Tropics <sup>MD</sup> et Seaview <sup>MD</sup>
                <hr>
                <small class="description">
                    L'élégance classique des persiennes Polysatin <sup>MC</sup> de 
                    Shade-O-Matic peut transformer une simple fenêtre en un magnifique point d'intérêt dans toutes les 
                    pièces où vous les placez.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Formes spécialisées disponibles
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-water.svg" src="/images/icon-water.png" alt="Colours" />
                        Résistent à l’eau
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Écoénergétiques et Rendement énergétique
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>

        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        La meilleure durabilité de l’industrie
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-clean.svg" src="/images/icon-clean.png" alt="Colours" />
                        Peu d’entretien et faciles à nettoyer
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-child.svg" src="/images/icon-child.png" alt="Specialty Blinds" />
                        Sécuritaire pour les enfants
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/polysatin/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Le fini DuraLux <sup>MD</sup>, créé à l'aide d'une technologie à la pointe de l'industrie, procure aux persiennes PolysatinMC une allure douce et matte.
                    </li>
                    <li>
                        Choisissez parmi quatre couleurs classiques et neutres.
                    </li>
                    <li>
                        Même les égratignures, les chocs et les rayons UV ne nuisent pas au fini ou à l'apparence.
                    </li>
                    <li>
                        Imperméabilité : Les persiennes Polysatin <sup>MC</sup> sont une excellente option pour les salles de bain, les solariums et les cuisines.
                    </li>
                    <li>
                        Choisissez parmi trois tailles de lattes et cinq options de cadre.
                    </li>                    
                    <li>
                        Sécuritaire pour les enfants - Conçues sans cordon afin de réduire le danger pour les enfants et les animaux.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/polysatin/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Les systèmes coulissants et repliés conviennent à merveille aux fenêtres de grande taille et aux portes-fenêtres
                    </li>                    
                    <li>
                        Efficacité énergétique : Des lattes écoénergétiques alvéolées augmentent l'efficacité thermique, maximisent le blocage des rayons UV et offrent un coefficient UV de 99 % ainsi qu’une valeur R de 4,23 en hiver et de 0,23 en été
                    </li>
                    <li>
                        Les persiennes PolysatinMC contribuent à créer un environnement plus sain et portent les homologations « GREENGUARD Certified » et « GREENGUARD Gold Certified ».
                    </li>                    
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/polysatin/B3-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Fenêtres en baie et en saillie : Nos persiennes sur mesure ajoutent style et beauté à tous les types de fenêtres en baie, en saillie ou en angle.
                    </li>
                    <li>
                        Ignifuge : Grâce à leur certification ignifuge NFPA 701, nos persiennes sont idéales pour les installations commerciales.
                    </li>
                    <li>
                        Sécurité des enfants : Par design, les persiennes n'utilisent pas de cordon, ce qui contribue à garder vos enfants et vos animaux en sécurité.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>