---
id: roller
title: Stores à Enrouleur Regency
image: /images/products/roller/1-1920.jpg
description: Les stores à enrouleur Regency <sup>MD</sup> ont beaucoup évolué ils sont devenus de magnifiques recouvrements de fenêtre, offerts dans une vaste collection de tissus classiques et contemporains qui procurent élégance et rendement supérieur.
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores à Enrouleur Regency <sup>MD</sup>
                <hr>
                <small class="description">
                    Les stores à enrouleur Regency <sup>MD</sup> ont beaucoup évolué : ils sont devenus de magnifiques recouvrements de fenêtre, 
                    offerts dans une vaste collection de tissus classiques et contemporains qui procurent élégance et rendement supérieur. 
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-flame.svg" src="/images/icon-flame.png" alt="Specialty Blinds" />
                        Vaste sélection de tissus ignifuges, une option idéale pour les applications commerciales
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Choisissez parmi un grand nombre de motifs,
                        y compris des tissus qui filtrent la lumière, des
                        vinyles assombrissants ainsi que des fibres
                        naturelles et décoratives
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Un choix de cantonnières boîtiers et de bordures
                        s'offre à vous, dans une variété de couleurs. Ils
                        aident à masquer le mécanisme du store et à
                        créer une allure plus raffinée
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Il est possible de combiner deux stores sur un
                        même caisson, pour plus de commodité. Les
                        deux stores fonctionnent indépendamment
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        De série, les stores à enrouleur sont dotés d'une traverse inférieure recouverte de tissu
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Un système d'assombrissement procure une intimité accrue pour les installations résidentielles ou commerciales
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Choisissez parmi un grand nombre de motifs,
                        y compris des tissus qui filtrent la lumière, des
                        vinyles assombrissants ainsi que des fibres
                        naturelles et décoratives, tous offrant différents
                        niveaux d'intimité.
                    </li>
                    <li>
                        Vaste sélection de tissus ignifuges, une option
                        idéale pour les applications commerciales.
                    </li>
                    <li>
                        L'enrouleur à embrayage relève le store en toute
                        simplicité. La chaînette en boucle reste toujours
                        de la même longueur, indépendamment de la
                        position du store. Des chaînettes en plastique
                        et en métal sont offertes en différentes couleurs.
                        Indiquez votre choix au moment de passer
                        la commande.
                    </li>
                    <li>
                        Les stores TouchLift sans cordon se relèvent
                        doucement et automatiquement lorsque vous
                        tirez l'ourlet vers le haut. Pour les abaisser, il suffit
                        de tirer dans le sens inverse. Fonctionnalités
                        de sécurité pour les enfants. Les cordons
                        décoratifs sont uniquement offerts en option pour
                        ce système.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Il est possible de combiner deux stores sur un
                        même caisson, pour plus de commodité. Les
                        deux stores fonctionnent indépendamment.
                    </li>                    
                    <li>
                        Le système motorisé RemoteLift à piles permet
                        d'abaisser et de relever le store d'une simple
                        pression d'un bouton. Une option à alimentation
                        par câble est aussi offerte. Fonctionnalités de
                        sécurité pour les enfants.
                    </li>
                    <li>
                        Une cantonnière Deluxe est offerte en option et
                        comprend des fentes transparentes pour y insérer
                        une bande de tissu coordonné.
                    </li>
                    <li>
                        Un choix de cantonnières boîtiers et de bordures
                        s'offre à vous, dans une variété de couleurs. Ils
                        aident à masquer le mécanisme du store et à
                        créer une allure plus raffinée.
                    </li>                    
                </ul>
            </div>    
            <div class="clearfix"></div>        
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        De série, les stores à enrouleur sont dotés d'une
                        traverse inférieure recouverte de tissu. Vous
                        pouvez aussi opter pour une barre-ourlet scellée
                        ou une traverse peinte en métal.
                    </li>
                    <li>
                        Un système d'assombrissement procure une
                        intimité accrue pour les installations résidentielles
                        ou commerciales.
                    </li>
                    <li>
                        Bordure décorative avec choix de passements
                        agencés, moyennant un supplément.
                    </li>
                    <li>
                        Certains des tissus sont aussi offerts pour les
                        stores romains et les systèmes à panneaux
                        coulissants RomanelleMD. Imaginez le magnifique
                        style coordonné que vous pourrez créer dans
                        votre demeure avec ces stores uniques.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>
