---
id: roman
title: Stores romains Romanelle <sup>MD</sup>
image: /images/products/roman/1-1920.jpg
description: Les luxueux stores romains Romanelle <sup>MD</sup> ajoutent une dose d'élégance à toute pièce dans lesquelles vous les placez
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores romains Romanelle <sup>MD</sup>
                <hr>
                <small class="description">
                    Les luxueux stores romains Romanelle <sup>MD</sup> ajoutent une dose d'élégance à toute pièce dans lesquelles vous les placez
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Lorsque deux stores sont intégrés sur un même caisson, ils fonctionnent séparément et ont chacun leur propre cordon
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Choisissez parmi une vaste collection de recouvrements, y compris des tissus qui filtrent la lumière, des tissus décoratifs et des fibres naturelles
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Le style doux et personnalisé des stores romains plats crée un look dramatique
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>        
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/roman/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Le style doux et personnalisé des stores romains plats crée un look dramatique.
                    </li>
                    <li>
                        Choisissez parmi une vaste collection de recouvrements, y compris des tissus qui filtrent la lumière, des tissus décoratifs et des fibres naturelles. Chacun d'eux crée la quantité exacte de lumière et d'intimité que vous désirez.
                    </li>
                    <li>
                        Deux systèmes de fonctionnement sont offerts : le système de blocage de cordon de haute qualité ou le système de cordon continu (en option) qui permet de lever et d'abaisser le store à la position désirée.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/roman/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Lorsque deux stores sont intégrés sur un même caisson, ils fonctionnent séparément et ont chacun leur propre cordon.
                    </li>
                    <li>
                        Les stores romains Romanelle <sup>MD</sup> sont dotés d'une cantonnière de tissu coordonné de 6 pouces. En position levée, le store est invisible, caché derrière la cantonnière.
                    </li>                    
                    <li>
                        La plupart des tissus sont aussi offerts pour les stores à enrouleur Regency <sup>MD</sup> et les systèmes à panneaux coulissants Romanelle <sup>MD</sup>. Imaginez le magnifique style coordonné que vous pourrez créer dans votre demeure avec ces stores uniques.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>