---
id: paneltrack
title: Systèmes à panneaux coulissants Romanelle <sup>MD</sup>
image: /images/products/paneltrack/1-1920.jpg
description: Les systèmes à panneaux coulissants Romanelle <sup>MD</sup> sont dotés de panneaux verticaux qui se glissent aisément afin de recouvrir les fenêtres de grande taille, avec un style inégalé
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Systèmes à panneaux coulissants Romanelle <sup>MD</sup>
                <hr>
                <small class="description">
                Les systèmes à panneaux coulissants Romanelle <sup>MD</sup> sont dotés de panneaux verticaux qui se glissent aisément afin de recouvrir les fenêtres de grande taille, avec un style inégalé
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Différents choix d'ouvertures s'offrent à vous : à gauche, à droite ou au centre
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Choisissez parmi une vaste collection de recouvrements, y compris des tissus qui filtrent la lumière, des vinyles assombrissants, des tissus décoratifs et des fibres naturelles
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-flame.svg" src="/images/icon-flame.png" alt="Specialty Blinds" />
                        Des tissus ignifuges sont offerts en option
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-wand.svg" src="/images/icon-wand.png" alt="Specialty Blinds" />
                        La baguette de commande guide doucement les panneaux dans le rail
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-cord.svg" src="/images/icon-cord.png" alt="Specialty Blinds" />
                        Le cordon glisse les panneaux dans le rail de manière uniforme
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        La cantonnière en option surmonte les panneaux coulissants et complémente agréablement le style
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/paneltrack/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Choisissez parmi une vaste collection de recouvrements, y compris des tissus qui filtrent la lumière, des vinyles assombrissants, des tissus décoratifs et des fibres naturelles. Des tissus ignifuges sont offerts en option.
                    </li>
                    <li>
                        La cantonnière en option surmonte les panneaux coulissants et complémente agréablement le style.
                        Une cantonnière recouverte de tissu monté sur un couvercle en bois est une élégante option pour masquer le mécanisme.
                    </li>
                    <li>
                        La largeur des panneaux est prédéterminée à l'usine afin de prédéterminer la distance de 3 pouces entre les panneaux.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/paneltrack/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Différents choix d'ouvertures s'offrent à vous : à gauche, à droite ou au centre.
                    </li>
                    <li>
                        La baguette de commande guide doucement les panneaux dans le rail. Le cordon glisse les panneaux dans le rail de manière uniforme.
                    </li>                    
                    <li>
                        Certains tissus sont aussi offerts dans la collection de stores à enrouleur Regency <sup>MD</sup> et de stores romainsRomanelle <sup>MD</sup>.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>