---
id: shadowmagic
title: Stores Horizontaux Shadow Magic <sup>MD</sup>
image: /images/products/shadowmagic/1-1920.jpg
description: Les stores horizontaux Shadow Magic <sup>MD</sup> sont nos recouvrements de fenêtres les plus sophistiqués. Ils combinent deux panneaux de tissus diaphanes avec des lattes horizontales qui vous offrent une flexibilité maximale sur la lumière et l’intimité. Ces stores ajoutent une beauté simpliste et une touche de sophistication à votre décor
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Stores Horizontaux Shadow Magic <sup>MD</sup>
                <hr>
                <small class="description">
                    Les stores horizontaux Shadow Magic <sup>MD</sup> sont nos recouvrements de fenêtres les plus sophistiqués. Ils combinent deux panneaux de tissus diaphanes avec des lattes horizontales qui vous offrent une flexibilité maximale sur la lumière et l’intimité. Ces stores ajoutent une beauté simpliste et une touche de sophistication à votre décor
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Ces stores sont très jolis sur de grandes fenêtres, car ils n’ont aucune couture
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Choisissez des tons neutres et doux ou des couleurs vives, dans des modèles qui filtrent la lumière pour offrir plus d’intimité sans assombrir totalement la pièce, ou des modèles plus sombres qui augmentent l’opacité de la pièce.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Les stores Shadow Magic contribuent à créer un environnement
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Isolation écoénergétique : en position fermée, les lattes bloquent jusqu'à 99 % des rayons UV nocifs; inclinées, jusqu'à 88 %
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Mécanisme automatisé offert en option
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-clean.svg" src="/images/icon-clean.png" alt="Specialty Blinds" />
                        Les tissus sont recouverts d’un fini antistatique et ils repoussent la poussière et les taches
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/shadowmagic/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Ces stores sont très jolis sur de grandes fenêtres, car ils n’ont aucune couture.
                    </li>
                    <li>
                        Choisissez des tons neutres et doux ou des couleurs vives, dans des modèles qui filtrent la lumière pour offrir plus d’intimité sans assombrir totalement la pièce, ou des modèles plus sombres qui augmentent l’opacité de la pièce.
                    </li>
                    <li>
                        Les lattes sont offertes en format de 2 po, 2 ½ po et 3 po.
                    </li>
                    <li>
                        Les tissus sont recouverts d’un fini antistatique et ils repoussent la poussière et les taches.
                    </li>
                    <li>
                        Un caisson au design unique qui crée une élégante cantonnière intégrée. Lorsque le store est relevé, il disparaît dans le caisson.
                    </li>                
                    <li>
                        Système à cordon continu Hi-Rise qui permet de lever et d’abaisser le store précisément à la position désirée.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/shadowmagic/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Le cordon rétractable en option permet de relever et d’abaisser le store en toute aisance : il est toujours de la même longueur, ce qui élimine les cordons pendants et augmente la sécurité des enfants et des animaux.
                    </li>                    
                    <li>
                        Deux stores sur un caisson : cette configuration offre encore plus de précision et de commodité.
                    </li>
                    <li>
                        Les stores sont dotés d’une section en tissu sur un caisson boîtier de couleur coordonnée.
                    </li>
                    <li>
                        Le tendeur garde les cordons bien serrés afin qu’ils ne posent pas de danger pour les enfants et les animaux.
                    </li>
                    <li>
                        Supports universels enclenchables qui simplifient l’installation.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/shadowmagic/B3-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Isolation écoénergétique : en position fermée, les lattes bloquent jusqu'à 99 % des rayons UV nocifs; inclinées, jusqu'à 88 %.
                    </li>
                    <li>
                        Un choix écoénergétique : les stores Shadow Magic contribuent à créer un environnement plus sain grâce à un vaste choix de tissus qui font partie de notre programme GreenProtect <sup>MC</sup>.
                    </li>
                    <li>
                        Mécanisme automatisé offert en option.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>