---
id: vertical
title: Collection of Colour Vertical Blinds
image: /images/products/vertical/1-1920.jpg
description: offer a fashionable selection of patterns, textures and colours, in Fabrics and PVC vanes.
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Collection of Colour Vertical Blinds
                <hr>
                <small class="description">
                    Offering a selection of patterns, colours and textures, in fabric and PVC vanes. 
                    Vertical blinds offer total light control, easy maintenance, flexibility, and add 
                    style and elegance to any room
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Durable heavy duty headrail has a high quality wheeled carrier system that offers smooth traversing and quiet operation
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Over 250 selections of patterns and colours, all in today’s trends
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-ruler.svg" src="/images/icon-ruler.png" alt="Specialty Blinds" />
                        Permanently aligned carriers, keep vanes lined up. Snap-in brackets make installation fast and easy
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-wand.svg" src="/images/icon-wand.png" alt="Specialty Blinds" />
                        Optional Safety Wand rotates the vanes open and closed and moves the vanes side to side across the window
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-cord.svg" src="/images/icon-cord.png" alt="Specialty Blinds" />
                        Standard chain and cord is a traditional option that comes with every blind
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Standard rounded corner valance with matching insert conceals the operating mechanism and is available in 3 different mounting options
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/vertical/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Over 250 selections of patterns and colours, all in today’s trends.
                    </li>
                    <li>
                        Decorative PVC, including S-shape patterns and decorative fabrics ranging from stitch bonds, to elegant jacquards, and natural fabrics are available.
                    </li>
                    <li>
                        Durable heavy duty headrail has a high quality wheeled carrier system that offers smooth traversing and quiet operation.
                    </li>
                    <li>
                        Permanently aligned carriers, keep vanes lined up. Snap-in brackets make installation fast and easy.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/vertical/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Standard cha in and cord is a traditional option that comes with every blind. The chain rotates the vanes open and closed while the cord moves the vanes side to side across the window. The cord secures to the wall for safety.
                    </li>
                    <li>
                        Optional Safety Wand rotates the vanes open and closed and moves the vanes side to side across the window with a sturdy wand. This convenient option is a child safety feature.
                    </li>                    
                    <li>
                        Standard rounded corner valance with matching insert conceals the operating mechanism and is available in 3 different mounting options: Inside Mount, Inside Mount with Valance Returns and Outside Mount with Valance Returns.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>