---
id: vertical
title: Collection de stores verticaux de couleurs
image: /images/products/vertical/1-1920.jpg
description: La collection de stores verticaux de couleurs vous propose une sélection variée de motifs, de textures et de couleurs, avec des lattes en tissu ou en PVC
category: product
mediatype: product
producttype: blind
layout: product-layout
---

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Collection de stores verticaux de couleurs
                <hr>
                <small class="description">
                    La collection de stores verticaux de couleurs vous propose une sélection variée de motifs, de textures et de couleurs, avec des lattes en tissu ou en PVC
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Un robuste caisson avec pièces de haute qualité assure le fonctionnement impeccable des stores
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Plus de 250 combinaisons de motifs et de couleurs, toutes inspirées des tendances les plus modernes
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-ruler.svg" src="/images/icon-ruler.png" alt="Specialty Blinds" />
                        Des charriots alignés en permanence assurent que les lattes sont toujours au bon endroit
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-wand.svg" src="/images/icon-wand.png" alt="Specialty Blinds" />
                        Une baguette de sécurité en option permet à la fois d'ouvrir et de fermer les lattes et de les déplacer latéralement
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-cord.svg" src="/images/icon-cord.png" alt="Specialty Blinds" />
                        Profitez d'une pratique système de commande à chaînette et à cordon
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Une cantonnière avec coins arrondis avec sections de tissus coordonnées masque élégamment le mécanisme du store est offerte en trois options de montage
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Caractéristiques et avantages
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/vertical/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Plus de 250 combinaisons de motifs et de couleurs, toutes inspirées des tendances les plus modernes.
                    </li>
                    <li>
                        Choisissez parmi une vaste gamme de matériaux, du PVC décoratif – y compris des motifs en S – jusqu'aux étoffes liées par piqûres et d'élégants jacquards, en passant par les tissus naturels.
                    </li>
                    <li>
                        Un robuste caisson avec pièces de haute qualité assure le fonctionnement impeccable des stores.
                    </li>
                    <li>
                        Des charriots alignés en permanence assurent que les lattes sont toujours au bon endroit. Des supports enclenchables rendent l'inspection très facile.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/vertical/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                    Profitez d'une pratique système de commande à chaînette et à cordon. La chaînette pivote les lattes pour les ouvrir et les fermer, et le cordon les déplace le long de la fenêtre. Pour plus de sécurité, le cordon s'accroche au mur.
                    </li>
                    <li>
                    Une baguette de sécurité en option permet à la fois d'ouvrir et de fermer les lattes et de les déplacer latéralement. Il s'agit d'une option pratique pour la sécurité des enfants.
                    </li>                    
                    <li>
                        Une cantonnière avec coins arrondis avec sections de tissus coordonnées masque élégamment le mécanisme du store est offerte en trois options de
                        montage : montage intérieur, montage intérieur avec retours de cantonnière et montage extérieur avec retours de cantonnière.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>