---
id: Warranty
title: Garantie
fullTitle: Garantie
smallDesc: Nous sommes derrière nos produits
layout: resources-layout
category: resource
---

<div class="col-xs-8 col-xs-offset-2">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="product-highlight">
            <a href="/measurement-guides">
                <img srcset="/images/icon-warranty.svg" src="/images/icon-warranty.png" alt="Specialty Blinds" />
                Persiennes
            </a>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="product-highlight">
            <a href="/installation-instructions">
                <img srcset="/images/icon-warranty.svg" src="/images/icon-warranty.png" alt="Specialty Blinds" />
                Stores
            </a>
        </div>
    </div>                    
    <div class="clearfix"></div>     
</div>
