---
id: Warranty
title: Warranty
fullTitle: Warranty
smallDesc: We stand behind our products
layout: resources-layout
category: resource
---

<div class="col-xs-8 col-xs-offset-2">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="product-highlight">
            <a href="/measurement-guides">
                <img srcset="/images/icon-warranty.svg" src="/images/icon-warranty.png" alt="Specialty Blinds" />
                Shutters Warranty
            </a>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="product-highlight">
            <a href="/installation-instructions">
                <img srcset="/images/icon-warranty.svg" src="/images/icon-warranty.png" alt="Specialty Blinds" />
                Blinds & Shades Warranty
            </a>
        </div>
    </div>                    
    <div class="clearfix"></div>     
</div>
