<footer class="row-footer">
<div class="container">            
    <div class="row">                
        <div class="col-md-3">
            <p>
                <strong>
                    About Us
                </strong>
            </p>
            <ul class="list">
                <li>
                    <a href="/company">
                        Company
                    </a>
                </li>
                <li>
                    <a href="/news">
                        News
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="/terms-of-use">
                        Terms Of Use 
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy Policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong>
                    Our Products
                </strong>                        
            </p>

            <ul class="list">
                <li>
                    <a href="/blinds-shades">
                        Blinds and Shades
                    </a>
                </li>
                <li>
                    <a href="/shutters">
                        Shutters 
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong>
                    Customer Support
                </strong>                        
            </p>

            <ul class="list">
                <li>
                    <a href="/faq">
                        F.A.Q
                    </a>
                </li>
                <li>
                    <a href="/dealer-locator">
                        Dealer Locator
                    </a>
                </li>
                <li>
                    <a href="/measurement-guides">
                        Measurement Guides
                    </a>
                </li>
                <li>
                    <a href="/installation-instructions">
                        Installation Instructions
                    </a>
                </li>                        
                <li>
                    <a href="/warranty">
                        Warranty
                    </a>
                </li>
                <li>
                  <a href="/warranty-registration">
                    Warranty Registration
                  </a>
                </li>
                <li>
                    <a href="/child-safety">
                        Child Safety
                    </a>
                </li>                        
            </ul>
        </div>
        <div class="col-md-3">
            <p>
                <strong>
                    Contact Us
                </strong>                        
            </p>

            <ul class="list">                        
                <li>
                    <address>                                
                        132 First Gulf Blvd. 
                        <br>
                        Brampton, Ontario 
                        <br>
                        L6W 4T7
                    </address>
                </li>
                <li>
                    <a href="tel:1-800-789-0331">                                
                        1-800-789-0331
                    </a>
                </li>
                <li>
                    <a href="mailto:info@shadeomatic.ca">                                
                        info@shadeomatic.ca
                    </a>
                </li>
            </ul>                    
        </div>

        <div class="col-xs-12">
            <p>
                <strong>
                    Connect with us
                </strong>                        
            </p>
            <p>
                <a href="https://www.facebook.com/shadeomaticLP/" target="_blank">
                    <img src="/images/facebook-50.png" alt="Facebook" class="social"/>
                </a>
                <a href="https://www.instagram.com/shadeomatic.canada/" target="_blank">
                    <img src="/images/instagram-50.png" alt="Instagram" class="social"/>    
                </a>                        
                <a href="http://www.pinterest.com/shadeomaticLP/" target="_blank">
                    <img src="/images/pinterest-50.png" alt="Pinterest" class="social"/>
                </a>
                <a href="https://www.youtube.com/channel/UCnygd20Tz8v4h2_m3n34smQ" target="_blank">
                    <img src="/images/youtube-50.png" alt="Youtube" class="social"/>
                </a>                        
            </p>                    
        </div>

        <div class="col-xs-12">
            <p>
                Shade O Matic, 2017. All right Reserved
            </p>                        
        </div>
    </div>
</div>
</footer>