<div class="news-card">
    <div class="card-title">
            
        <h4>
            <%= article.title %>
        </h4>
    </div>
    <div class="card-content">
        <%= article.body %>
    </div>
</div>