<div class="news-card">
    <div class="card-title">            
        <h4>
            <%= article.title %>
        </h4>
    </div>
    <div class="card-content">
        <%= article.body %>
    </div>
    <div class="card-footer">
        <img src="/images/homescreen48.png" alt="Shadeomatic logo" />
        ShadeOMatic
    </div>
</div>