<div class="news-card">
    <img src="/images/homescreen48.png" />
    <div class="card-title">
            
        <h4>
            <%= article.title %>
        </h4>        
    </div>
    <div class="card-content">
        <%= article.body %>
    </div>
    <div class="card-footer">
        <%= article.date.year %>
    </div>
</div>