---
title: Child Safety
fullTitle: Child Safety
layout: resources-layout
category: resource
---
<div class="row-default">
    <div class="container">
    <div class="row">        
        <div class="col-md-4 col-xs-12 ">
            <img src="/images/child1.jpg" alt="Child playing" class="img-responsive frame-pic" />
        </div>       
        <div class="col-md-8 col-xs-12">
            <h3>Child and pet safety</h3>
            <p>        
                Shade-O-Matic has an extensive line of window coverings which provide the highest standards in child safety. 
                From cordless blinds to automated systems, cord tensioners and wand controls, we offer a wide selection of lift system solutions 
                for child and pet safety.
            </p>        
        </div> 
        <div class="clearfix"></div>
    </div>
    </div>
</div>
<div class="row-default">
    <div class="container">
    <div class="row">                
        <div class="col-md-4 col-xs-12 col-md-push-8">
            <img src="/images/child-label-en.jpg" alt="Safety Tags" class="img-responsive frame-pic" />
        </div>
        <div class="col-md-8 col-xs-12 col-md-pull-4">
            <h3>Child safety is serious business</h3>
            <p>            
                That’s why the window coverings industry uses warning tags, warning labels and other ways to communicate the potential hazards of 
                corded window coverings. The warning shown here for example, outlines important communication about cords being a potential strangulation 
                hazard and recommends selecting cordless options or products with inaccessible cords.
            </p>
        </div>        
        <div class="clearfix"></div>
    </div>    
    </div>
</div>


<div class="row-default row-alt">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h3 class="section-header">
            Cordless alternatives 
            <hr>
            <span class="description">
                Cordless alternatives and window coverings with inaccessible cords 
                <br>
                are available in the following product lines
            </span>            
        </h3>        

        <ul class="products-circle">
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Grandeur® Woodalloy Shutters" class="product-image"/>
                    <span class="product-name">
                        Grandeur® Woodalloy 
                        <br>
                        Shutters                        
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Polysatin™ Shutters" class="product-image"/>
                    <span class="product-name">
                        Polysatin™ 
                        <br>
                        Shutters
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Shadow Magic® Horizontal Shadings" class="product-image"/>
                    <span class="product-name">
                        Shadow Magic® 
                        <br>
                        Horizontal Shadings
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Moodscapes® Cellular Shades" class="product-image"/>
                    <span class="product-name">
                        Moodscapes® 
                        <br>
                        Cellular Shades
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Moodscapes® Cellular Vertical Application" class="product-image"/>
                    <span class="product-name">
                        Moodscapes® Cellular 
                        <br>
                        Vertical Application
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Regency® Roller Shades" class="product-image"/>
                    <span class="product-name">
                        Regency® 
                        <br>
                        Roller Shades
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Concept Dual Shadings©" class="product-image"/>
                    <span class="product-name">
                        Concept Dual 
                        <br>
                        Shadings©
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Romanelle® Panel Track Systems" class="product-image"/>
                    <span class="product-name">
                        Romanelle® 
                        <br>
                        Panel Track Systems
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Lasting Impressions® Pleated Shades" class="product-image"/>
                    <span class="product-name">
                        Lasting Impressions® 
                        <br>
                        Pleated Shades
                    </span>
                </a>                
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Vertical Blinds" class="product-image"/>
                    <span class="product-name">
                        Vertical Blinds
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Faux Wood Horizontal Blinds" class="product-image"/>
                    <span class="product-name">
                        Faux Wood 
                        <br>
                        Horizontal Blinds
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://via.placeholder.com/146x146" alt="Wood Horizontal Blinds" class="product-image"/>
                    <span class="product-name">
                        Wood 
                        <br>
                        Horizontal Blinds
                    </span>
                </a>                
            </li>
        </ul>
    </div>
    </div>
    </div>
</div>