---
title: Child Safety
fullTitle: Child Safety
layout: resources-layout
category: resource
---

<div class="col-xs-12">
    <div class="tab-content">
    <div class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img src="/images/child1.jpg" alt="Child playing" />                
            </a>
        </div>
        <div class="media-body">
            <p>
                Shade-O-Matic has an extensive line of window coverings which provide the highest standards in child safety. 
                From cordless blinds to automated systems, cord tensioners and wand controls, we offer a wide selection of lift system solutions 
                for child and pet safety.
            </p>
            <p>
                <strong>Child safety is serious business</strong>
                <br>
                That’s why the window coverings industry uses warning tags, warning labels and other ways to communicate the potential hazards of 
                corded window coverings. The warning shown here for example, outlines important communication about cords being a potential strangulation 
                hazard and recommends selecting cordless options or products with inaccessible cords.
            </p>
        </div>
    </div>

    <p>
        Shade-O-Matic cordless alternatives and window coverings with inaccessible cords are available in the following product lines:
    </p>
    <ul class="products-preview">
        <li>
            <a href="#">
                <img src="/images/gray.jpg" alt="Grandeur® Woodalloy Shutters" />
                <span class="product-name">
                                        
                </span>
                Grandeur® Woodalloy Shutters
            </a>            
        </li>
        <li>
            Polysatin™ Shutters
        </li>
        <li>
            Shadow Magic® Horizontal Shadings
        </li>
        <li>
            Moodscapes® Cellular Shades
        </li>
        <li>
            Moodscapes® Cellular Vertical Application
        </li>
        <li>
            Regency® Roller Shades
        </li>
        <li>
            Concept Dual Shadings©
        </li>
        <li>
            Romanelle® Panel Track Systems
        </li>
        <li>
            Lasting Impressions® Pleated Shades
        </li>
        <li>
            Vertical Blinds
        </li>
        <li>
            Faux Wood Horizontal Blinds
        </li>
        <li>
            Wood Horizontal Blinds
        </li>        
    </ul>
    </div>
</div>