---
title: Our Company
category: general
---

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Company
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="section-title text-center">
                Shade-O-Matic
                <hr>
                <small class="description">
                    Canada’s leading supplier of premier quality window coverings.
                    <br>
                    All of our blinds, shades and shutters are custom-built to ensure a perfect fit each and every time.
                </small>
            </h1>            
        </div>
    </div>
</div>

<div class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">                
                <p>                                
                    Founded in 1982, Shade-O-Matic® has grown from a small regional company to a leading national Canadian provider of premier window covering products based in the Greater Toronto Area.  Since 1996, Shade-O-Matic®, has been a part of the Hunter Douglas Group of Companies, a world leader in the window covering industry, with headquarters in Holland. 
                </p>
                <p>
                    Product innovation is a cornerstone of Shade-O-Matic’s success and rapid growth. Our company owns numerous patents on unique window covering products such as the Tropics® Gear Driven Polysatin® Shutters.  We continue to invest in development and continued enhancement of our products, to bring the latest and best window coverings to the Canadian consumer. 
                </p>
                <p>
                    Providing a continuous level of the highest quality standard is a key priority in our organizational mission. We are focused on providing the utmost level of quality to ensure our customer’s complete satisfaction with any Shade-O-Matic® product. As part of this effort, we ensure that our products meet and surpass the Canadian Child Safety requirements, while providing the utmost level of energy efficiency and functionality.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="/images/about-us.jpg" alt="Shade-O-Matic image" class="img-responsive frame-pic" />
            </div>
        </div>
    </div>
</div>
<div class="row-default row-contrast">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">
                    At Shade-O-Matic®, we are focused on ensuring customer satisfaction, 
                    <br>
                    from selection to quality service.
                </p>

                <p class="text-center">
                    We also back up our products with our Limited Lifetime Warranty to provide you with peace of mind 
                    <br>
                    when purchasing any Shade-O-Matic® product.
                </p>
            </div>
        </div>
    </div>
</div>

 