---
title: FAQ
fullTitle: Frequently Asked Questions
layout: resources-layout
category: resource
---
    
<div class="row">
    <div class="col-xs-12">
        <div class="tab-content">
        
        <ul class="faq-list">
            <li>  
                <span class="question"> How do I choose the Shade-O-Matic window treatment that’s right for me? </span>                    
                There are three main factors to consider when choosing custom window treatments; function, fashion, and budget. At Shade-O-Matic we offer many product offerings that encompass all of these factors. Consumers often cite the following functional features as their primary reasons for investing in window coverings: privacy, security, light control, UV protection, and energy efficiency. To find the products suited to your individual needs it is best to consult with an authorized Shade-O-Matic dealer, they will help you to balance the factors of function, fashion and budget.
            </li>
            <li>
                <span class="question"> Do you use lead in the manufacturing process for your blinds at Shade-O-Matic? </span>                    
                Shade-O-Matic products do not contain lead. In fact, our products have never been manufactured with lead additives.
            </li>
            <li>
                <span class="question"> What are the differences between custom and ready-made window blinds? </span>                    
                Custom-made blinds are manufactured to your specifications to fit your window opening exactly; they feature the highest quality components and come in a wide variety of colors and materials. Ready-made blinds are the choice of budget conscience consumers; they are manufactured in various standard sizes and in a limited number of colours & options.    
            </li>
            <li>
                <span class="question"> Do you have products that are fire resistant? </span>                    
                We have a variety of vertical blinds, roller shades, roman shades and panel track fabrics that are rated for their fire resistance. Our Polysatin Shutters are also a fire rated product.
            </li>
            <li>
                <span class="question"> I’ve heard in the news that the cords from blinds can pose a risk to children, how can I protect my children from this risk? </span>                    
                Shade-O-Matic has been a leader in the Canadian Industry ensuring that our blinds are equipped with the latest child safety features. All of our blinds are equipped with breakaway cord tassels, cord stops and a variety of cord cleats to protect children from this strangulation hazard. For more information, please contact your local dealer.    
            </li>
            <li>
                <span class="question"> How do I get repairs for my Shade-O-Matic blind? </span>                    
                The first step is to contact your authorized Shade-O-Matic dealer where you purchased your blind to determine if the repair is covered under our industry leading limited lifetime warranty. When this has been determined, the dealer is issued a return number, which is used to track your repair when it is returned to Shade-O-Matic. The costs of shipping and installation are not the responsibility of Shade-O-Matic or its dealers.    
            </li>
            <li>
                <span class="question"> I’ve heard from friends about a blind that you can see out but people cannot see in. What product is that and how does it work? </span>                    
                Many sheer reflective products have the characteristics that when the light hits the surface it is reflected away giving the illusion of opacity, much like the window tint used in the automotive industry today. However when the light source is reversed at night with artificial light illuminating the inside of your home, the opposite becomes true. People can see in but, you cannot see out due to the light reflecting off the surface.    
            </li>
            <li>
                <span class="question"> How do I clean my custom window treatments from Shade-O-Matic? </span>                    
                There are different cleaning methods suggested for each of our many product categories. When you receive your custom blind from Shade-O-Matic, it will be supplied with specific instructions for its care and maintenance so you can enjoy a lifetime of service from your window treatments.    
            </li>
        </ul>            
        
        </div>    
    </div>
</div>
