---
title: Faux Wood
category: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Faux Wood
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<ul id="slideshow" class="product-slider">                    
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">        
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
</ul>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Faux Wood
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Faux Wood
                <hr>
                <small class="description">
                    Faux wood blinds offer the look and style of real wood, yet are a practical alternative
                    <br>
                    They are a perfect choice for high-moisture areas such as kitchens and bathrooms
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-window.png" alt="Specialty Blinds" />
                        A wide assortment of solid and decorative tapes provides designer fashion accents
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-window.png" alt="Colours" />
                        Standard 2” slat size is a great option for any window size. The 2 1/2” slat size provides enhanced view-through
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-window.png" alt="Specialty Blinds" />
                        Optional Cordless Lift System and Lift & Lock Cordless System offers effortless operation
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-xs-12">
                <ul class="product-features">
                    <li>
                        Standard 2” slat size is a great option for any window size. The 2 1/2” slat size provides enhanced view-through.
                    </li>
                    <li>
                        The elegant, high-profile decorative valance looks great and is a standard feature. The optional Crescent Valance provides a contemporary sleek and sophisticated appearance.
                    </li>
                    <li>
                        A wide assortment of solid and decorative tapes provides designer fashion accents.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        RemoteTilt (Tilt Automation) eliminates the need for tilt cords and allows for easy slat tilting at the touch of a button on the remote control.
                    </li>                    
                    <li>
                        You can request the LightsOut feature and the slats will be cut without route holes. This reduces the light leakage, allows for better room darkening and more privacy when the blinds are closed.
                    </li>
                    <li>
                        Optional Cordless Lift System and Lift & Lock Cordless System offers effortless operation. No operating cords make it a safer option for homes with children and pets.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>