---
title: Grandeur Woodalloy Shutters
category: product
---


<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">
                    Grandeur Woodalloy Shutters
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<ul id="slideshow" class="product-slider">                    
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">        
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
</ul>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/shutters">
                            Shutters
                        </a>
                    </li>
                    <li class="active">
                        Grandeur Woodalloy Shutters
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Grandeur Woodalloy Shutters
                <hr>
                <small class="description">
                    Offer a leading edge design, giving windows an air of classic elegance. 
                    Our advanced engineering technology provides the consistency and warmth of real wood, 
                    while helping the shutters maintain their superior strength and their durability.                     
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Crafted like a fine piece of furniture
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Contemporary colour selection
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Energy efficient and are environmentally friendly
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>

        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Scratch resistant
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Colours" />
                        Leading edge design
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-child.svg" src="/images/icon-child.png" alt="Specialty Blinds" />
                        Child Safety
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Leading Edge Design - Advanced engineering materials offer the look of real wood.
                    </li>
                    <li>
                        Variety of Hinge Colours - 5 colours including the new Venetian Bronze.
                    </li>
                    <li>
                        Scratch Resistant Finish -  Offers superior durability and strength.
                    </li>
                    <li>
                        Acoustical Properties - Provides noticeable noise reduction.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        New Colours - Available in 3 soft tones and 4 wood tones colours including the new Beachwood.
                    </li>                    
                    <li>
                        Dovetail Construction with 6 frames choices.
                    </li>
                    <li>
                        Unique Louver Design – Our engineered shape allows for maximum closure & view through.
                    </li>
                    <li>
                        State of the art NuTech Finish® is smooth and lustrous to the touch and protects from common spills, making clean up a breeze.
                    </li>                    
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Bay or Bow Windows – Custom shutters add style and beauty to any bay, bow or corner windows.
                    </li>
                    <li>
                        Energy Efficient - Winter R Value of 6.01, Summer R Value of 0.17 and UV Rating of 99%.
                    </li>
                    <li>
                        Available in 3 louver sizes and 4 frame options.
                    </li>
                    <li>
                        Bi-Pass and Bi-Fold Tracking systems – Ideal for large windows and patio doors.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Environmentally Friendly –  GREENGUARD Certified® and GREENGUARD Gold Certified.
                    </li>                    
                    <li>
                        Child Safety – The inherent design and functionality of shutters do not use cords, so children and pets stay safe.
                    </li>                                    
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>             
        </div>
    </div>
</div>