---
title: Honeycomb Shades
name: honeycomb
image: /images/products/honeycomb/1-1920.jpg
description: are the most luxurious window coverings in today's market. Our superior selection of fabrics provide lasting beauty, elegance and sophistication all in one.
category: product
mediatype: product
---
<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Honeycomb Shades                    
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Honeycomb Shades
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Honeycomb Shades
                <hr>
                <small class="description">
                    The most luxurious window coverings in today's market. Our superior selection of fabrics provide lasting beauty, elegance and sophistication all in one
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-sound.svg" src="/images/icon-sound.png" alt="Specialty Blinds" />
                        Superior sound absorption
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Colours choices include over 200 options
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Specialty Shapes Available
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Helps insulate homes and reduce heating and cooling bills
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Available in Cordless Lift, Cordless Lift & Lock, Continuous Cord Loop & Automation
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Neutral white backing on most fabric styles
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/honeycomb/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Distinctive cellular construction helps insulate homes and reduce heating and cooling bills.
                    </li>
                    <li>
                        Superior sound absorption helps make surroundings quieter and more comfortable.
                    </li>
                    <li>
                        100% stain-resistant polyester fabric is wrinkle-resistant and easy to clean and maintain – most fabric styles are completely washable.
                    </li>
                    <li>
                        Colour choices include over 200 options from neutrals and bold colours to exclusive prints and wovens.
                    </li>
                    <li>
                        Multiple cell sizes available, including 2" Hybrid Pleat that cover small to large scale windows and sliding glass doors.
                    </li>                
                    <li>
                        Fabric opacities range from sheer and semi-sheer to blackout, offering privacy and light control versatility. FR fabrics are also available.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/honeycomb/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        The neutral white backing on most fabric styles provides a consistent appearance to the outside of the home.
                    </li>                    
                    <li>
                        Offered with a wide selection of control options, including top-down/bottom-up, continuous loop, cordless lift, vertical application and motorized control, to fit any need.
                    </li>
                    <li>
                        Cordless Lift, Cordless Lift & Lock, Continuous Cord Loop, MotionView Shades and Simplicity Shades are available with Fabric Covered Rails for a surcharge.
                    </li>
                    <li>
                        Shades come standard with colour-coordinated rails.
                    </li>
                    <li>
                        TriLight Shades available for enhanced privacy and light control versatility.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>