---
title: Welcome to Shadeomatic
---

<ul class="bxslider">
    <li class="bg-1 active">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Create an air of 
                        <br>
                        elegance in any room
                    </h1>
                </div>
            </div>
        </div>                
    </li>
    <li  class="bg-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Add style and
                        <br>
                        sophistication to your decor
                    </h1>                
                </div>
            </div>
        </div>                                
    </li>
    <li  class="bg-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Make your own 
                        <br>
                        design statement
                    </h1>                
                </div>
            </div>
        </div>
    </li>
    <li class="bg-4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Light Control 
                        <br>
                        and Design in One
                    </h1>                
                </div>
            </div>
        </div>                
    </li>
</ul>

<div class="row-colors">
    <div class="color-1"></div>
    <div class="color-2"></div>
    <div class="color-3"></div>
    <div class="color-4"></div>
</div>

<div class="row-slogan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Shade-O-Matic® is Canada’s leading supplier of premier quality window coverings. 
                    <br>
                    All of our blinds, shades and shutters are custom-built to ensure a perfect fit each and every time. 
                </p>
            </div>
        </div>
    </div>
</div>