---
title: Installation Instructions
category: resource
layout: resources-layout
---

<div class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <input type="text" class="form-control" id="installation-search" placeholder="Search Installation Instructions" />
            </div>
        </div>
    </div>
</div>
<div class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <ul class="installation-instructions">
                    <li>
                        <a href="#1aluminum">
                            1" Aluminum Horizontal EN
                        </a>
                        <a href="#1aluminum">
                            1" Aluminum Horizontal FR
                        </a>
                    </li>
                    <li>
                        <a href="#2aluminum">
                            2" Aluminum Horizontal EN
                        </a>
                        <a href="#2aluminum">
                            2" Aluminum Horizontal FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Fascia Installation – Inside Mount EN
                        </a>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Fascia Installation – Inside Mount FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Fascia Installation – Outside Mount EN
                        </a>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Fascia Installation – Outside Mount FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Pocket Installation – Inside Mount EN
                        </a>
                        <a href="#1aluminum">
                            Blackout Instructions 4” R-Series Pocket Installation – Inside Mount FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Cellular Shades: Angle Cuts, Angled Top, Octagon, Hexagon, Trapezoid EN
                        </a>
                        <a href="#1aluminum">
                            Cellular Shades: Angle Cuts, Angled Top, Octagon, Hexagon, Trapezoid FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Cellular Shades: Arch, Quarter Circle, Circle EN
                        </a>
                        <a href="#1aluminum">
                            Cellular Shades: Arch, Quarter Circle, Circle FR
                        </a>                        
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Cellular Shades: Skylight Application EN
                        </a>
                        <a href="#1aluminum">
                            Cellular Shades: Skylight Application FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Honeycomb Shades:Cordless Lift System, Continuous Cord Loop System, Remotelift 2.0 System EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb Shades:Cordless Lift System, Continuous Cord Loop System, Remotelift 2.0 System FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Honeycomb Shades: Remotelift 2.0 EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb Shades: Remotelift 2.0 FR
                        </a>                        
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Honeycomb Shades: Standard Rectangular EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb Shades: Standard Rectangular FR
                        </a>                        
                    </li>   
                    <li>
                        <a href="#1aluminum">
                            Honeycomb Shades: Top-down, moveable arch EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb Shades: Top-down, moveable arch FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Honeycomb Shades: Vertical Applications EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb Shades: Vertical Applications FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Honeycomb & Pleated: Standard Shades Top Down Bottom Up Day Night EN
                        </a>
                        <a href="#1aluminum">
                            Honeycomb & Pleated: Standard Shades Top Down Bottom Up Day Night FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Pleated & Cellular Shades EN
                        </a>
                        <a href="#1aluminum">
                            Pleated & Cellular Shades FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Polysatin Shutter EN
                        </a>
                        <a href="#1aluminum">
                            Polysatin Shutter FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Roller Shade Panel Track EN
                        </a>
                        <a href="#1aluminum">
                            Roller Shade Panel Track FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Roller Shades: Spring, Clutch, Touchlift, Remotelift ™ EN
                        </a>
                        <a href="#1aluminum">
                            Roller Shades: Spring, Clutch, Touchlift, Remotelift ™ FR
                        </a>                                                
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Traditional Roman Shades EN
                        </a>
                        <a href="#1aluminum">
                            Traditional Roman Shades FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Vertical Blinds EN
                        </a>
                        <a href="#1aluminum">
                            Vertical Blinds FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Wood Blinds & Faux Blinds EN
                        </a>
                        <a href="#1aluminum">
                            Wood Blinds & Faux Blinds FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Screen Shades EN
                        </a>
                        <a href="#1aluminum">
                            Screen Shades FR
                        </a>
                    </li>
                    <li>
                        <a href="#1aluminum">
                            Concept Dual Shadings© Fascia Roller Shades EN
                        </a>
                        <a href="#1aluminum">
                            Concept Dual Shadings© Fascia Roller Shades FR
                        </a>
                    </li>                 
                </ul>
            </div>
        </div>
    </div>
</div>