---
title: Installation Instructions
category: resource
layout: resources-layout
---

<div id="app-installation">
    <div class="row-default">    
        <div class="row">
            <div class="col-xs-12">
                <input type="text" class="form-control input-lg" id="installation-search" placeholder="Search Installation Instructions" 
                v-model:value="query"/>
            </div>
        </div>    
    </div>
    <div class="row-default-sm">    
        <div class="row">        
            <div class="col-xs-12">
                <ul class="installation-instructions">
                    <li v-for="manual in installationManuals" v-show="manual.visible">
                        <transition-group name="fade">
                        <a v-for="file in manual.files" v-bind:href="file.fileName" target="_blank" v-show="file.visible">
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                            {{file.name}} {{file.language}}                             
                            <span class="file-info"> .pdf ({{file.size}}) </span>
                        </a>
                        </transition-group>
                    </li>
                </ul>

                <div class="alert alert-info" role="alert" v-show="noResults">
                    <p>
                        No installation manuals for {{query}}
                    </p>
                </div>

            </div>
        </div>    
    </div>
</div>