---
title: Pleated Shades
name: pleated
image: /images/products/pleated/1-1920.jpg
description: offer an excellent form of window covering, providing light, privacy and sun control.
category: product
mediatype: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Pleated Shades
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Pleated Shades
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Pleated Shades
                <hr>
                <small class="description">
                    Pleated Shades offer an excellent form of window covering, providing light, privacy and sun control. 
                    Crisp pleated fabrics in the latest trendy colours are an excellent addition to any room in your home
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">        
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">                
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Top Down / Bottom Up – Shade lowers from the top down and also the conventional way, from the bottom up                        
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Optional Continuous Cord Loop System easily lifts the shade and stops it exactly where you want
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Optional Blackout Liners help keep the light out and provides additional privacy
                    </div>
                </div>

                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/pleated/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Two pleat sizes are available:
                        <br>
                        1" Pleat works well with small to mid-size windows
                        <br>
                        1 7/8" Grand Pleat is suitable for mid-size to large windows
                    </li>
                    <li>
                        Optional Blackout Liners help keep the light out and provides additional privacy.
                    </li>
                    <li>
                        Optional Continuous Cord Loop System easily lifts the shade and stops it exactly where you want.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/pleated/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Top Down / Bottom Up – Shade lowers from the top down and also the conventional way, from the bottom up.
                    </li>                    
                    <li>
                        Two-on-one Headrail – This specialty shade provides the appearance of a single shade, with two blinds operating independently.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>