---
title: Polysating, Tropics and Seaview Shutters
category: product
---


<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">
                    Polysating, Tropics and Seaview Shutters
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<ul id="slideshow" class="product-slider">                    
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">        
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
</ul>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/shutters">
                            Shutters
                        </a>
                    </li>
                    <li class="active">
                        Polysating, Tropics and Seaview Shutters
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Polysating Tropics 
                <br>
                & 
                <br>
                Polysating Seaview Shutters
                <hr>
                <small class="description">
                    The sleek, classic elegance of Shade-O-Matic®’s Polysatin™ Shutters can turn a window into a stunning focal point in any room.
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-specialty.svg" src="/images/icon-specialty.png" alt="Specialty Blinds" />
                        Specialty Shapes Available
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-water.svg" src="/images/icon-water.png" alt="Colours" />
                        Water Resistant
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Energy efficient and are environmentally friendly
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>

        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Ultimate in durability
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-clean.svg" src="/images/icon-clean.png" alt="Colours" />
                        Low maintenance and easy to clean
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-child.svg" src="/images/icon-child.png" alt="Specialty Blinds" />
                        Child Safety
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Industry-leading technology creates the DuraLux® Finish and gives Polysatin™ Shutters a smooth, matte finish.
                    </li>
                    <li>
                        Scratches, Dents and UV rays cannot affect the finish or colour.
                    </li>
                    <li>
                        Water Resistant – Polysatin™ shutters are a great option for Bathrooms, Solariums, Jacuzzis or Kitchens.
                    </li>
                    <li>
                        Choose from four classic, neutral colours.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Choose from 3 louver sizes and 5 frame options.
                    </li>                    
                    <li>
                        Energy Efficient – Cellular designed louvers increase thermal efficiency and maximize UV blockage, Winter R Value of 4.23, Summer R Value of 0.23 and UV Rating of 99%.
                    </li>
                    <li>
                        Polysatin™ Shutters carefully consider the environment for healthier living, they are GREENGUARD Certified and GREENGUARD Gold Certified.
                    </li>
                    <li>
                        Child Safety – The inherent design and functionality of shutters do not use cords, so children and pets stay safe.
                    </li>                    
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Bi-Pass and Bi-Fold Tracking Systems – Perfect for patio doors or wide window expanses.
                    </li>
                    <li>
                        Bay or Bow Windows – Custom shutters will add style and beauty to any bay, bow or corner windows.
                    </li>
                    <li>
                        Fire retardant – NFPA 701 Flame Retardant Certification makes our shutters the ideal option for commercial applications.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Environmentally Friendly –  GREENGUARD Certified® and GREENGUARD Gold Certified.
                    </li>                    
                    <li>
                        Child Safety – The inherent design and functionality of shutters do not use cords, so children and pets stay safe.
                    </li>                                    
                </ul>
            </div>   
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="How to measure" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Installation manuals" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>             
        </div>
    </div>
</div>