---
title: Regency Roller Shades
name: roller
image: /images/products/roller/1-1920.jpg
description: have evolved into a sophisticated window covering that offers an extensive collection of both classic and contemporary fabrics, providing eye-catching style and superior performance.
category: product
mediatype: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Regency Roller Shades
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Regency Roller Shades
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Regency Roller Shades
                <hr>
                <small class="description">
                    Roller Shades have evolved into a sophisticated window covering, providing eye-catching style and superior performance
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-flame.svg" src="/images/icon-flame.png" alt="Specialty Blinds" />
                        There is a large selection of flame resistant fabrics available which are ideal for commercial applications
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        There are many types of fabrics to select from, including light filtering sunscreen fabrics, room darkening vinyls and natural & decorative fabrics
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Optional Cassette Valance and Fascia are available in a variety of colours provides a finished look
                    </div>
                </div>            
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Two-one-one Headrail has two shades combined under one headrail, providing flexibility and allows for one or both shades to be operated separately
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Roller Shades come standard with a fabric-wrapped bottomrail
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Room Darkening System provides more privacy for residential or commercial applications
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        There are many types of fabrics to select from, including light filtering sunscreen fabrics, room darkening vinyls and natural & decorative fabrics, in varying light and privacy opacities.
                    </li>
                    <li>
                        There is a large selection of flame resistant fabrics available which are ideal for commercial applications.
                    </li>
                    <li>
                        The clutch roller raises the shade with ease and convenience. The beaded chain loop remains the same length no matter where the shade is positioned. 
                        Both plastic and metal chains are available in a variety of colours – specify at time of placing the order.
                    </li>
                    <li>
                        Touchlift Cordless Shade lifts gently and automatically with a slight pull on the hem. 
                        Shades lower traditionally by pulling the hem down. Child safety feature. Optional decorative pulls are available for this system only.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Two-one-one Headrail has two shades combined under one headrail, providing flexibility and allows for one or both shades to be operated separately.
                    </li>                    
                    <li>
                        Remotelift motorization is a battery operated system which lifts and lowers shades with a touch of a button. 
                        Hardwired motorization is also available. Child safety feature.
                    </li>
                    <li>
                        Deluxe Valance is optional and has a clear edge groover to hold the co-ordinating fabric to the body of the valance.
                    </li>
                    <li>
                        Optional Cassette Valance and Fascia are available in a variety of colours and helps hide the roller mechanism and
                        provides a finished look.
                    </li>                    
                </ul>
            </div>    
            <div class="clearfix"></div>        
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/roller/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Roller Shades come standard with a fabric-wrapped bottomrail. The optional sealed-in hem bar and deluxe painted metal rail colours are also available.
                    </li>
                    <li>
                        Room Darkening System provides more privacy for residential or commercial applications.
                    </li>
                    <li>
                        Decorative hem styles include the choice matching gimp, at an additional charge.
                    </li>
                    <li>
                        Some fabrics are also available in the Romenelle® Roman Shades and Romanelle® Panel Track Systems. 
                        Imagine the beautifully co-ordinated look that can be created with any of these exceptional blinds in one room.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="How to measure" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Installation Manuals" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>