---
title: Romanelle Roman Shades
category: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">
                    Romanelle Roman Shades
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<ul id="slideshow" class="product-slider">                    
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">        
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
</ul>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Romanelle Roman Shades
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Romanelle Roman Shades
                <hr>
                <small class="description">
                    Add elegance to any room. There are many stylish fabrics to choose from that will compliment any room décor
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-window.png" alt="Specialty Blinds" />
                        2-on-1 Headrail Shades operate separately and have individual lift cords
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-palette.png" alt="Colours" />
                        There are a wide range of fabrics to select from, including light filtering screens, decorative fabrics and grass-like weaves
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-house.png" alt="Specialty Blinds" />
                        The smooth tailored design of the Flat style roman shade provides a dramatic look to any room
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>        
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-xs-12">
                <ul class="product-features">
                    <li>
                        The smooth tailored design of the Flat style roman shade provides a dramatic look to any room.
                    </li>
                    <li>
                        There are a wide range of fabrics to select from, including light filtering screens, decorative fabrics and grass-like weaves. Any of these fine fabrics will provide the exact amount of light or privacy level that is required.
                    </li>
                    <li>
                        Two operating systems are available: The high-quality Standard Cordlock System or the optional Continuous Cord Loop System which easily lifts the shade and stops it exactly where it is needed.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        2-on-1 Headrail Shades operate separately and have individual lift cords.
                    </li>
                    <li>
                        Romanelle® Roman Shades come with a matching 6” valance. When the shade is in the fully raised position, it nests discreetly behind the valance.
                    </li>                    
                    <li>
                        Most fabrics are also available in the Regency© Roller Shades and Romanelle® Panel Track Systems. Imagine the beautifully co-ordinated look that can be created with any of these exceptional shades in one room.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>             
        </div>
    </div>
</div>