---
id: shadowmagic
title: Shadow Magic Horizontal Shadings
image: /images/products/shadowmagic/1-1920.jpg
description: our most sophisticated window covering product combining soft sheer panels of fabric with center horizontal vanes that provide the highest degree of light and privacy control.    These shadings will add simplistic beauty and sophistication to any home.
category: product
mediatype: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">
                    Shadow Magic Horizontal Shadings
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Shadow Magic Horizontal Shadings
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Shadow Magic Horizontal Shadings
                <hr>
                <small class="description">
                    Our most sophisticated window covering product combining soft sheer panels of fabric with center horizontal vanes that provide the highest degree of light and privacy control.    These shadings will add simplistic beauty and sophistication to any home
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Seamless beauty, shades cover large window expanses without any seams
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-palette.svg" src="/images/icon-palette.png" alt="Colours" />
                        Soft neutral tones or dark bold colours, in patterns that are light filtering 
                        for privacy without total darkness or room darkening patterns for greater privacy
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-green.svg" src="/images/icon-green.png" alt="Specialty Blinds" />
                        Shadings carefully consider the environment for healthier living
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Specialty Blinds" />
                        Energy Efficient - Shadings protect against 99% of harmful UV rays
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-multiple.svg" src="/images/icon-multiple.png" alt="Specialty Blinds" />
                        Automation is available
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-clean.svg" src="/images/icon-clean.png" alt="Specialty Blinds" />
                        Fabrics are anti-static, dust and stain resistant
                    </div>
                </div>
                <div class="clearfix"></div>     
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="/images/products/shadowmagic/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Available in a choice of 2", 2 ½" and 3" vanes.
                    </li>
                    <li>
                        Unique headrail design – creates a smooth and elegant self-valance. When shade raises, it disappears inside the headrail.
                    </li>
                    <li>
                        Hi-Rise Continuous Cord Loop System – This system easily lifts the shade and stops it exactly where you want it.
                    </li>
                    <li>
                        Optional retractable cord raises and lowers horizontal shading and provides constant cord length, eliminating dangling cords. Increased safety for children & pets.
                    </li>
                    <li>
                        Two-on-one Headrail -Two shades on the same headrail for independent control.
                    </li>                
                    <li>
                        Shadings come with a fabric insert in a colour co-ordinated grooved cassette headrail.
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="/images/products/shadowmagic/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Cord tensioner keeps cord taut, so children and pets stay safe.
                    </li>                    
                    <li>
                        Universal snap-in brackets for easy installation.
                    </li>
                    <li>
                        Environmentally Friendly – Shadings carefully consider the environment for healthier living. A lot of the fabrics are part of our Green Protect™ program.
                    </li>
                    <li>
                        Energy Efficient - Shadings protect against 99% of harmful UV rays when vanes are closed and up to 88% when tilted open.
                    </li>
                    <li>
                        Automation is available.
                    </li>
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>             
        </div>
    </div>
</div>