---
title: Sheerluxe Window Shadings
category: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">
                    Sheerluxe Window Shadings
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<ul id="slideshow" class="product-slider">                    
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">        
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
    <li style="background-image: url('http://via.placeholder.com/1920x1280');">             
    </li>
</ul>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Sheerluxe Window Shadings
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Sheerluxe Window Shadings
                <hr>
                <small class="description">
                    Streamlined collection featuring both translucent and light-dimming vane styles to provide varying degrees of light control
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-window.svg" src="/images/icon-window.png" alt="Specialty Blinds" />
                        Covers large window expanses with no visible internal lift cords to detract from their elegant appearance
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-house.svg" src="/images/icon-house.png" alt="Colours" />
                        Filters out up to 88% of incoming harmful UV rays when open, and up to 99% when closed
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img srcset="/images/icon-thumb.svg" src="/images/icon-thumb.png" alt="Specialty Blinds" />
                        Limited Lifetime Warranty ensures your customers’ satisfaction
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            
        </div>        
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="product-features">
                    <li>
                        Offered in the popular 2 1/2" vane size, ideal for all window sizes.
                    </li>
                    <li>
                        Streamlined collection featuring both translucent and light-dimming vane styles to provide varying degrees of light control.
                    </li>
                    <li>
                        Optional cordless lift control for a control cord free operation.
                    </li>
                    <li>
                        Fabric vanes, suspended between two sheers, rotate open or closed for soft view or full privacy.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-push-6">
                <img src="http://via.placeholder.com/750x600" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        Filters out up to 88% of incoming harmful UV rays when open, and up to 99% when closed.
                    </li>                    
                    <li>
                        Covers large window expanses with no visible internal lift cords to detract from their elegant appearance.
                    </li>
                    <li>
                        When raised, they completely disappear into the headrail allowing more outside view.
                    </li>
                    <li>
                        Limited Lifetime Warranty ensures your customers’ satisfaction.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img srcset="/images/icon-measure.svg" src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img srcset="/images/icon-installation.svg" src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>             
        </div>
    </div>
</div>