---
title: Wood
category: product

title: Wood
name: wood
image: /images/products/wood/1-1920.jpg
description: bring the natural warmth and beauty of wood into your home for a classic look.
category: product
mediatype: product
---

<div class="product-toolbar">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="name">                    
                    Wood
                </li>

                <li class="pull-right">
                    <a href="/dealer-locator" class="btn btn-sm btn-primary">
                        Where to buy
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<!-- Slideshow -->
<%= partial "productslider"%>

<div class="row-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/blinds-shades">
                            Blinds & Shades
                        </a>
                    </li>
                    <li class="active">
                        Wood
                    </li>
                </ul>  
            </div>
        </div>
    </div>    
</div>

<div id="product-content" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Wood
                <hr>
                <small class="description">
                    Bring the natural beauty of wood into your home
                </small>
            </h1>
        </div>        
    </div>
    <div class="product-highlights">
        <div class="row">        
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-window.png" alt="Specialty Blinds" />
                        Cordless Lift System and Lift & Lock Cordless System offers effortless operation
                    </div>                
                </div>            
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-palette.png" alt="Colours" />
                        This collection offers a wide selection of popular paints, stains & exclusive finishes
                    </div>                
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="product-highlight">
                        <img src="/images/icon-house.png" alt="Specialty Blinds" />
                        Optional LightsOut feature reduces light leakage and allows for better room darkening and more privacy
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>            
        </div>
        
    </div>
</div>

<!-- Features -->
<div id="product-features" class="row-default row-gray">
<div class="container">
    <div class="row">                
        <div class="col-xs-12">
            <h1 class="text-center section-title">
                Features and Benefits
                <hr>                
            </h1>
        </div>
        
        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <img src="/images/products/wood/B1-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
                    
            <div class="col-lg-6 col-md-6 col-xs-12">
                <ul class="product-features">
                    <li>
                        Preminum Hardwood available in 3 slat sizes of 1 3/8”, 2” and 2 3/8”.
                    </li>
                    <li>
                        This collection offers a wide selection of popular paints, stains & exclusive finishes.
                    </li>
                    <li>
                        The low profile steel headrail provides strength and reliability.
                    </li>
                    <li>
                        A crown valance is included with 3 optional decorative valances to further enhance your blinds.
                    </li>                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-default">
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-push-6">
                <img src="/images/products/wood/B2-720.jpg" alt="Room Shot" class="img-responsive product-feature-image" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-md-pull-6">
                <ul class="product-features">
                    <li>
                        A wide selection of decorative tapes available.
                    </li>                    
                    <li>
                        Cordless Lift System and Lift & Lock Cordless System offers effortless operation. No operating cords make it a safer option for homes with children and pets.
                    </li>
                    <li>
                        The RemoteTilt option offers an automation option for titling the slats and can be combined with the cordless option for maximum convenience and child & pet safety.
                    </li>
                    <li>
                        Optional LightsOut feature reduces light leakage and allows for better room darkening and more privacy.
                    </li>                    
                </ul>
            </div>            
        </div>
    </div>
</div>
</div>

<div id="product-resources" class="row-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center section-title">
                    Resources
                    <hr>                
                </h1>
            </div>            
        </div>
        <div class="row">            
            <div class="col-xs-8 col-xs-offset-2">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/measurement-guides">
                            <img src="/images/icon-measure.png" alt="Specialty Blinds" />
                            How to measure
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="product-highlight">
                        <a href="/installation-instructions">
                            <img src="/images/icon-installation.png" alt="Specialty Blinds" />
                            Installation Manual
                        </a>
                    </div>
                </div>                    
                <div class="clearfix"></div>     
            </div>            
        </div>
    </div>
</div>